

<div class="container">
      <footer class="footer">
        <p>&copy; 2017 Kuoll, Inc.</p>
          
        <a href="pricing.html">Pricing</a>
        <a href="installation.html">Installation Guide</a>
        <a href="partnership.html">Partner With Us</a>
        <a href="mailto: corp@kuoll.com">Contact</a>

      </footer>    
</div>

<style>
@import "/resources/css/footer.css";
</style>
