<!-- inhead -->
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/resources/css/common.css">
<link rel="stylesheet" href="/resources/css/internal.css">

<link rel="stylesheet" href="/resources/css/footer.css">
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ljfpdodjbnkpbaenppoiifjkdlhfjcgn">
<link rel="stylesheet" href="/resources/css/stages.css">

<meta name="theme-color" content="#16a085">
<meta name="msapplication-navbutton-color" content="#16a085">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="geo.placename" content="New York, 33 W 17th, 2nd floor; 10011">
<meta name="geo.region" content="United Stated of America">

<link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
<link rel="icon" sizes="192x192" href="/resources/img/cat.png">
<meta name="msapplication-square310x310logo" content="/resources/img/cat.png">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,500,600,700,900" >
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600" >
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" >

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5F4QRW5');</script>
    <!-- End Google Tag Manager -->
