<div class="col-sm-3 ">
    <ul class="nav nav-pills nav-stacked nav-pill-ala-stack" id="tabs-nav">
        <li class="">
            <a href="/org.html" role="tab" data-toggle="tab">
                <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                Team users
            </a>
        </li>
        <li>
            <hr/>
        </li>
        <li class="">
            <a href="/settings.html#tab-slack" role="tab" data-toggle="tab">
                <i class="slack fa-fw" aria-hidden="true"></i>
                Slack
            </a>
        </li>
        <li class="">
            <a href="/settings.html#tab-telegram" role="tab" data-toggle="tab">
                <i class="fa fa-fw fa-telegram" aria-hidden="true"></i>
                Telegram
            </a>
        </li>
        <li>
            <hr/>
        </li>
        <li>
            <a href="/settings.html#tab-security" role="tab" data-toggle="tab">
                <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i>
                Account and security
            </a>
        </li>
        <li id="billing-tab-link">
            <a href="/billing.html" role="tab" data-toggle="tab">
                <i class="fa fa-fw fa-credit-card" aria-hidden="true"></i>
                Billing and usage
            </a>
        </li>
        <li>
            <a href="/support.html" role="tab" data-toggle="tab">
                <i class="fa fa-fw fa-support" aria-hidden="true"></i>
                Support
            </a>
        </li>
    </ul>
    <div class=" clearfix">
        <p>&nbsp;</p>
        <h3>Your API key is</h3>

        <p>
            <span class="api-key"></span>
        </p>

        <p>
            <a href="/quick-start.html">Install Kuoll to webapp</a>
        </p>
    </div>
</div>
