<div id="social-login-disabled-alert" style="display: none">
    <p>
        Please, login with your email to accept your invitation.
    </p>
</div>

<div id="social-login" style="text-align: center;"> 
    <div class="slack-signin-wrapper">
        <a class="btn-success btn-block btn btn-lg btn-slack" 
            href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email&client_id=5013105915.44840319781&state=authenticate&redirect_uri=https://api.kuoll.com/slack/redirect_url"
        >
            <i class="fa-fw"></i>
            Sign in with <strong>Slack</strong>
        </a>
    </div>

    <p> </p>
    <p>or</p>

    <div class="github-signin-wrapper">
        <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=159605dacc8d9ec2594f"
            class="github-btn btn btn-default btn-block"
            >
            <i class="fa fa-github-alt"></i> Sign in with Github
        </a>
    </div>

    <div class="google-signin-wrapper">
        <div class="google-signin">
            <div id="google-signin-btn"></div>
        </div>
    </div>

</div>