<div class="bug-fixing-stages">
    <h2>Bug Fixing Stages</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Stage</th>
            <th>Obsolete way</th>
            <th>Kuoll way</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Find</td>
            <td><span class="actor">Customer</span> reports a problem</td>
            <td><span class="actor">Customer</span> reports a problem or <span class="actor">Kuoll script</span> detects
                a problem
            </td>
        </tr>
        <tr>
            <td>Confirm</td>
            <td><span class="actor">Customer support</span> talks to customer</td>
            <td rowspan="2"><span class="actor">Kuoll script</span> automatically captures high-fidelity bug report</td>
        </tr>
        <tr>
            <td>Report</td>
            <td><span class="actor">Customer support</span> reports an issue</td>
        </tr>
        <tr>
            <td>Reproduce</td>
            <td>Developer reproduces the configuration and the problem</td>
            <td><span class="actor">Kuoll</span> replays captured report in debug-like mode</td>
        </tr>
        <tr>
            <td>Analyse</td>
            <td>Developer analyses the issue</td>
            <td><span class="actor">Developer</span> analyses the issue witd ease</td>
        </tr>
        <tr>
            <td>Fix</td>
            <td>Developer suggest a fix for the issue</td>
            <td><span class="actor">Developer</span> fixes the issue witd confidence</td>
        </tr>
        <tr>
            <td>Deploy</td>
            <td>DevOps deploys a fix to production</td>
            <td><span class="actor">DevOps</span> deploys a sure fix to production</td>
        </tr>
        </tbody>
    </table>
</div>