<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F4QRW5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
   
<div class="container">

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="https://app.kuoll.com/login.html"  class="btn btn-white">Login</a></li>
            <li role="presentation"><a href="https://app.kuoll.com/signup.html" class="btn btn-light">Register</a></li>
          </ul>
        </nav>
        <div class="k-logo"><a href="//www.kuoll.com/"><img src="../resources/img/cat.png" class="k-logo"></a></div>
      </div>
</div>

<style>
@import "/resources/css/topnav.css";
</style>
</div>