<div class=" steaky-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="knav-row">
                    <div class="k-logo">
                        <a href="/"><img src="../resources/img/cat.png" style="margin-left: -2px;"> </a>
                    </div>
                    <div class="k-logo-text">
                        <a href="/">Kuoll</a>
                    </div>
                    
                    <div id="k-links" class="k-right">

                        <div class="k-link hiddenOnMobile">
                            <a href="/quick-start.html" title="Install Kuoll in 5 minutes">API</a>
                        </div>
                        <div class="k-link hiddenOnMobile">
                            <a href="/pricing.html" title="Pricing">Pricing</a>
                        </div>
                        <div class="k-default hide-if-logged-in">
                            <a href="/signup.html">Get started free</a>
                        </div>
                        <div class="k-link hide-if-logged-in hiddenOnMobile">
                            <a href="/login.html" title="Meow!">Login</a>
                        </div>
                        <div class="k-default k-default2 hide-if-not-logged-in hidden-at-start">
                            <a href="//app.kuoll.com/issues-dashboard.html" title="Meow!">Dashboard &rarr;</a>
                        </div>
                        <div class="k-link hide-if-not-logged-in hidden-at-start" >
                            <a href="/logout" title="" class="logoutBtn" id="logoutBtn" >Logout</a>
                        </div>
                    </div>

                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
