
body, html {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Calibri, "Lucida Sans", "San Francisco", sans-serif;
    font-size: 16px;
    line-height: 175%;
    -webkit-font-smoothing: antialiased;
}
.center-text {
    text-align: center;
}
.panel.dropdown-menu {
    padding: 0;
}
.complex-dropdown-menu-item {
    display: block;
    cursor: pointer;
    padding: 7px 15px;
    border-bottom: 1px solid #bdc3c7;
}
.complex-dropdown-menu-item h5 {
    font-size: 18px;
    
}
.complex-dropdown-menu-item:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
}


.spinnerDiv {
    background-color: rgba(23, 35, 34, .75);
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}

.frameTicksDiv {
    min-height: 10px;
    line-height: 7px;
    border: 1px solid #676767;
    border-radius: 2px;
    overflow: hidden;
}

.frameTick {
    height: 10px;
    line-height: 10px;
    width: 9px;
    background-color: white;
    border-right: 1px solid black;
    display: inline-block;
}

.controlsDiv {
    float: left;
}

.textOverflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.controlDiv {
    line-height: 12px;
    font-size: 12px;

    margin-right: 5px;
    display: inline-block;
    color: #aaa;
}

.controlDiv {
    color: #e2e2e2;
}

.eventInfoListTitle {
    font-size: 12pt;
}

.eventInfoList {
    font-size: 10pt;
    margin: 0;
    padding-left: 20px;
}

.installExtensionBox {
    margin-top: 30px;
    display: none;
}

.confirmationAlert {
    text-align: right;
    padding: 5px 20px;
    font-size: 12pt;
}

.paymentCard {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 9px 10px 9px 12px;
    color: #000;
    background-color: #ffffff;
    line-height: normal;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;    
}
.paymentCardStarz {
    letter-spacing: 2px;
    padding-left:10px;
}

.panel-heading h2 {
    margin: 1.25em 0;
}

.activePlan, .activePlan .panel-body, .activePlan .panel-heading {
    border-color: #3498db;
    border-width: 2px;
}
.activePlan {
    margin-top: -1px;
    box-shadow: 0 2px 20px rgba(52, 152, 219,.3);
}
.activePlan .panel-heading h2, .activePlanLabel {    
    color: #3498db !important;
}

.activePlan-hobby, .activePlan-hobby .panel-body, .activePlan-hobby .panel-heading {
    border-color: rgba(230, 126, 34,1.0);
}
.activePlan-hobby {
    box-shadow: 0 2px 20px rgba(230, 126, 34,.3);
}
.activePlan-hobby .panel-heading h2, .activePlanLabel-hobby {
    color: rgba(230, 126, 34,1.0) !important;
}



.cat {
    background-image: url("/resources/img/cat.png");
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: -52px;
    float: LEFT;
}

.hidden {
    display: none;
}

.section, .sectionAsphalt {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section+.section {
    padding-top: 0;
}
.sectionWithImg {
    padding-bottom: 0;
}
.sectionWithImg+.section {
    padding-top: 90px;
}
.section+.sectionAsphalt, .sectionAsphalt+.section { 
    padding-top: 60px;
}
.sectionWithImg+.sectionWithImg {
    padding-top: 150px;
}
.sectionAsphalt {
    background-color: #16a085;
    color: #ecf0f1;
}
.sectionLight {
    background-color: #ecf0f1;

}
.sectionAsphalt+.footer {
    margin-top: 0;
}
.sectionAsphalt a {
    color: #ffffff;
    font-weight: 800;
}
.sectionAsphalt h1, .sectionAsphalt h2, .sectionAsphalt h3 {
    color: white;
}
.imgShadow {
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);   
}
.darkBgImgLandingShot {
    padding: 30px;
    margin: 0 0 -30px -30px;
    background-color:rgba(236, 240, 241,.3);   
}
.imgLandingShot.darkBgImgLandingShot {
    margin-bottom: -60px;
}
.landingWithScreenshots, .landingWithScreenshots  p {
    font-size: 28px;
    line-height: 1.215;
    font-weight: 300;
}
.landingWithScreenshots h3 {
    font-size: 30px;
    font-weight: 500;
}
.tetherLabel {
    font-weight: 600;
    font-size: 28px;
}
@media (min-width: 767px){
    .imgLandingShot {
        margin-bottom: -30px;
        position: relative;
    }
    .tetherLabel {
        position: absolute;
        top: 0;
        left: -530px;
        width: 500px;
        display: block;
        text-align: right;

    }
    #tetherUserActions { top: 36.5%;}
    #tetherDomMutations { top: 49%;}
    #tetherNetwork { top: 61%;}
    #tetherExecution { top: 73%;}
}
@media (max-width: 767px){
    .tetherLabel {
        display: block;
        padding-bottom: 10px;
    }
}

.form-control {
    color: #34495e;
}

.input-group .btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.stacktraceFunction {
    float: left;
    margin-right: 20px;
}

.stacktraceUri {
    float: right;
}


.google-signin-wrapper {
    text-align: center;
    margin-bottom: 14px;
    background-color: #999;
    border-radius: 4px;
}
.abcRioButtonBlue .abcRioButtonIcon {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.abcRioButtonContentWrapper {
    border-radius: 4px;
}

.google-signin {
    margin: 8px auto;
}
.visible-logged-in {
    display: none;
}

.already-signed-in-wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.already-signed-in-wrapper > .buttons-wrapper > button {
    display: inline-block;
    width: 40%;
}

.already-signed-in-wrapper > .buttons-wrapper > button + button {
    margin-left: 20px;
}

.already-signed-in-wrapper > .buttons-wrapper > .back-btn {
    background-color: #1abc9c;
    border-color: #16a085;
}

.already-signed-in-wrapper > .buttons-wrapper > .logout-btn {
    background-color: #2ecc71;
    border-color: #27ae60;
}

.inAppCatty {
    width: 48px;
    margin: -16px 0 -32px 0;
    padding: 4px;
    transition: -webkit-filter 0.3s;
}

.installScript:hover .inAppCatty, .installScript:focus .inAppCatty {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

#logoutBtn {
    color: #bdc3c7;
}

#header {
    padding-bottom: 80px;
}


code {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    font-size: 1em;
    font-weight: inherit;
    word-break: break-all;
    word-wrap: break-word;
    color: inherit;
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: -2px;
    padding: 0;
    border-radius: 0;
}

pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    font-weight: 500;
    overflow: auto;
    padding: 6px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #ecf0f1;
    border: none;
    border-left: none;
    border-radius: 6px;
}
.stacktrace-function {
    white-space: pre;
}
.stacktrace-item-source-file {
    color: #16a085;
}
.stacktrace-description{
    font-weight: 600;
    color: #c0392b;
}

h1 {
    font-size: 57px;
}

h2 {
    margin: .8em 0px .6em;
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6, .caption {
    /*font-family: "Georgia", "Constantia", "Helvetica Neue", Calibri, "Lucida Sans", "San Francisco", sans-serif;*/
    font-weight: 600;
    margin: 1.25em 0 .75em;
    -webkit-font-smoothing: antialiased;
}

#tabs-wrapper h1 {
    margin-top: .25em;
}

p {
    font-size: 18px;
    margin-bottom: 1.25em;
}

img.screenshot {
    margin: 10px auto 20px;
    display: block;
    border: 1px #95a5a6 solid;
    width: 100%;
    box-shadow: 0 2px 5px #bdc3c7;
    max-width: 720px;
}

h2 > small {
    display: block;
    margin-top: 10px;
    font-size: 60%;
}

.btn-success {
    color: white;
    background-color: #2ecc71;
    border-radius: 0.25em;
    font-weight: bold;
    border-width: 0 0 0.125em;
    border-bottom: 0.125em solid #27ae60;
    padding: 0.428em 1em;
}

.btn-success:hover, .btn-success:focus, .btn-success:active  {
    background-color: #27ae60;
    border-color: #27ae60;
}

.panel-content {
    padding: 10px 20px;
}

.snippetCdnInstall {
    border: 1px solid #bdc3c7;
    text-align: left;
    padding:.3em;
    font-size: 10px;
    line-height: 1.2em;
    font-weight: 600;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #2980b9;
}

.bs-callout-danger {
    border-left-color: #c0392b;
}

.bs-callout-danger h4 {
    color: #c0392b;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.btn-slack {
    font-size: 28px;
}

#social-login > div + div {
    margin-top: 14px;
}

#google-signin-btn>div {
    width: 100% !important;
}
.abcRioButton.abcRioButtonBlue {
    background-color: rgba(66,133,244,.4);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.125);
    border-radius: 4px;
}
.abcRioButton.abcRioButtonBlue:hover {
    background-color: rgba(66,133,244,1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.github-signin-wrapper {
    text-align: center;
}

.github-btn {
}

.github-btn:hover > .fa {
    color: #8e44ad;
}

.slack-btn > i.fa-fw {
    height: 1.2em;
    background: url(/resources/img/slack-kuoll.png) no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: .25em;
}

.github-btn > .fa {
    font-size: 18px;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding-right: 6px;
    width: 30px;
}
.btn .fa {
    display: inline-block;
    font-size: 1.2em;
    line-height: 1em;
    vertical-align: middle;
}
.btn-danger {
    background-color: #9b59b6;
    border-color: #8e44ad;
}
.btn-danger:active, .btn-danger:hover, .btn-danger:focus, .btn-danger.active, .open > .dropdown-toggle.btn-danger{
    background-color: #8e44ad;
}
.repel {
    color: white; 
    background-color: rgb(89, 89, 89); 
    padding: .1em .3em;
    display: inline-block;
}

.btn-greenSea {
    border-width: 0;
    border-bottom: 3px solid #16a085;
    background-color: #1abc9c;
    color: white;
    /*box-shadow: 0 -1px 0 0px rgba(255, 255, 255, .5), 0 1px 0 0px rgba(0, 0, 0, .5);*/
}

.btn-greenSea:hover, .btn-greenSea:focus {
    background-color: #16a085;
    color: white;
    /*box-shadow: 0 -1px 0 0px rgba(255, 255, 255, .1), 0 1px 0 0px rgba(0, 0, 0, .75);*/
}
.btn-greenSeaInverted, .btn-greenSeaInverted:focus, .btn-greenSeaInverted:hover{
    color: white;
}
.btn-lgx {
    font-size: 40px;
    font-weight: 500;
    border-radius: 0.2em;
    border-bottom-width: 5px;
    margin-right: 0.325em;
    padding: 6px .75em;
}
 @media (max-width: 767px){
  .btn-lgx {
   font-size: 28px;
  }
 }

.btn .fa-caret-right {
    position: relative;
    top: -0.05em;
}

i.fa-opera {
    color: #ff1b2d;
}

i.fa-internet-explorer {
    color: #1ebbee;
}

i.fa-safari {
    color: #40b6da;
}

i.fa-facebook-square {
    color: #3b5998;
}

i.fa-chrome {
    color: #daa900;
}

i.fa-windows {
    color: #1ebbee;
}

i.fa-osx {
    color: #848484
}

i.fa-linux {
    color: #000000;
}

i.fa-android {
    color: #4fc34f;
}

i.fa-desktop {
    color: #2980b9;
}

i.fa-mobile {
    color: #2ecc71;
}

i.fa.default-icon {
    color: #bbbbbb;
}

h1 .fa-stack, h2 .fa-stack, h3 .fa-stack, h4 .fa-stack {
    font-size: 1em;
    vertical-align: middle;
    margin-bottom: -1em;
    margin-top: -1em;
}

.os-icon-text, .browser-icon-text {
    padding-left: 5px;
    color: #7f8c8d;
}

.chromeAddressBar {
    /*
    http://superuser.com/questions/138419/what-font-does-google-chrome-address-bar-use
    */
    font-size: 15px;
    font-family: "Lucida Grande", Cantarell, "Segoe UI", Tahoma, sans-serif;
}

.sequentGroupTitle {
    coor: #7f8c8d;
}
.navbar-inverse .navbar-nav>li>a {
    font-weight: 600;
}

.fa-chromium {
    color: #007faa;
}

.fa-chromium:before {
    /* Chrome icon */
    content: "\f268";
}

.dropdown-menu>li.dropdown-menu-item:hover, .dropdown-menu>li.dropdown-menu-item:focus {
    text-decoration: none;
    color: #2b3c4e;
    background-color: #f5f5f5;
}

.dropdown-menu>li.dropdown-menu-item:focus, .dropdown-menu>li.dropdown-menu-item:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu>li.dropdown-menu-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #34495e;
    white-space: nowrap;
    cursor: pointer;
}

.table {
    display: table;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
}

.slack {
    height: 1.2em;
    width: 1.28571429em;
    display: inline-block;
    background-image: url(/resources/img/slack-kuoll.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: .25em;
}