.step-pair {
    font-size: 20pt;
    margin-bottom: 60px;
}

.step-pair-separator {
    margin: 0 10px;
}

.new-step-pair {
    margin-top: 20px;
}

.step-pair > button {
    float: right;
}

#new-start-step {
    width: 40%;
}

#new-end-step {
    width: 40%;
}

#new-step-pair-separator {
    width: 5%;
    display: inline-block;
    text-align: center;
}

#new-step-pair-btn {
    width: 10%;
    float: right;
}