
.footer {
    padding-top: 10px;
    color: #777;
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  
  .footer p {
    color: #7f8c8d;
    font-size: 14px;
    padding-top: 10px;
    float: right; 
  }
  
  .footer a {
    margin-right: 10px;
    display: inline-block;
    color: #7f8c8d;
    font-size: 14px;
    background-color: transparent;
    outline: 0px;
    box-sizing: border-box;
    text-align: right;
    float: left;
    padding-top: 10px; 
  }
