.browser-icons, .os-icons {
    margin-bottom: 10px;
}

.more-records-link-wrapper {
    margin-top: 20px;
}

.stacktrace {
    white-space: pre-wrap;
}

.stacktrace td {
    vertical-align: top;    
}

.stacktrace-item-source {
    white-space: pre;
}

.stacktrace-lineNum {
    text-align: right;
}

.first-occurrence, .last-occurrence {
    max-width: 200px;
}