
.vertical {
    height: 100%;
    width: 5px;
    border-radius: 2px;
    background-color: #f0f0f0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    position: absolute;
    left: 465px;
}

.timeline {
    width: 940px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.step {
    border: 1px solid #bbbbbb;
    margin: 20px 0;
    padding: 10px 20px 20px;
    width: 457px;
    border-radius: 7px;
    position: relative;
    background-color: #ffffff;
}

.role1 {
    border-top-right-radius: 0;
}

.role2 {
    left: 483px;
    border-top-left-radius: 0;
}

.joint {
    width: 7px;
    height: 7px;
    border-radius: 3px;
    position: absolute;
    top: -4px;
    left: 463px;
    background-color: #cccccc;
    border: 1px solid #aaaaaa;
    z-index: 100;
}

.role2 .joint {
    left: -20px;
}

.connector {
    border-top: 1px solid #bbbbbb;

    position: absolute;
    top: -1px;
    left: 453px;
    width: 13px;
}

.role2 .connector {
    left: -13px;
}

.fa.stepIcon {
    margin: 20px 0 10px 10px;;
    font-size: 48px;
    float: right;
}

.role2 .stepIcon {
}

.vertical, .joint, .connector {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


@media (max-width: 959px) {
    .timeline {
        padding-right: 48px;
        width: auto;
        max-width: 500px;
    }

    .vertical {
        left: 15px;
    }

    .joint {
        left: -20px;
    }

    .connector {
        left: -13px;
    }

    .step {
        left: 33px;
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        width: auto;
        max-width: 465px;
    }
}

