.browser-icons, .os-icons {
    margin-bottom: 10px;
}

.more-records-link-wrapper {
    margin-top: 20px;
}

.stacktrace {
    white-space: pre-wrap;
}

.stacktrace td {
    vertical-align: top;    
}

.stacktrace-item-source {
    white-space: pre;
}

.stacktrace-lineNum {
    text-align: right;
}

.first-occurrence, .last-occurrence {
    max-width: 200px;
    white-space: nowrap;
}
.descriptionCol {
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    max-width: 300px;
}
.descriptionLink {
    display: block;
    height: 44px;
    text-overflow: clip;
    overflow: hidden;
}

table .row-odd {
    background-color: #eee;
}

table td.center-text {
    text-align: center;
}

table tr > td.stages-total-cell {
    vertical-align: middle;
}

.mergedThText {
    border-bottom: 3px solid #95a5a6;
    text-align: center;
    color: #7f8c8d;
    
}
.tableLosses > thead > tr > th {
    border-top: 0 none;   
}
.tableLosses thead {
    background-color: #ecf0f1;
}
.table > thead > tr > .mergedTh {
    border-bottom: 0px none;
}
.table .alignBottom {
    vertical-align: bottom;
}
    
.fa-stack-small {
    font-size: .5em;
    vertical-align: text-bottom;
}
.table > tbody > tr > .lossesNumberCell {
    vertical-align: middle;
    text-align: right;
}
