
/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}
  
.background {
    width: 100%;
    height: 500px;
    background-color: #1abc9c;
}
  
.container .jumbotron,
.container-fluid .jumbotron {
      padding-right: 0px;
      padding-left: 0px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  
  /* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}
  
.jumbotron h1 {
    font-family: 'Lato', sans-serif;
    font-size: 46px;
    color: #2c3e50;
    font-weight: 700;
    letter-spacing: 0;
    margin: 35px 0 0; 
}
  
.jumbotron h2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #2c3e50;
    font-weight: 400;
    letter-spacing: 0; 
}
  
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
  
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2c3e50;
}
  
.img-responsive {
    display: block;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 1px 16px 0 rgba(0,0,0,.1);
    border-radius: 6px;
    overflow: hidden;
    vertical-align: middle;
}
  
.btn.btn-lg.btn-success {
    background: #27ae60;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-family: font-family: 'Lato', sans-serif;
    font-weight: 400;
}
  
.btn.btn-lg.btn-success:hover {
    background-color: rgba(39, 174, 96,0.8);
    color: #fff;
}
  
.container {
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
}
  
  /* Supporting marketing content */

.marketing p + h4 {
    margin-top: 28px;
  
}
  
.marketing p {
    font-weight: 300;
    font-size: 16px;
}
  
.marketing a {
    font-weight: 400;
}
  
p {
    font-family: 'Lato', sans-serif;
}
  
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #2c3e50;
    letter-spacing: 0;
    margin-bottom: 20px;
    margin-top: 40px;
}
  
.small {
    color: #34495e;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0;
}
  
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0;
    color: #27ae60;
    margin-bottom: 30px;
    margin-top: 30px;
}
  
.btn.btn-primary {
    font-family: 'Lato', sans-serif;
    background: #27ae60;
    color: #fff;
    padding: 9px 20px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    box-shadow: none;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 25px;
}
  
.btn.btn-primary:hover {
    background-color: rgba(39, 174, 96,0.8);
}
  
.btn.btn-default.btn-block {
    font-family: 'Lato', sans-serif;
    background: #27ae60;
    color: #fff;
    padding: 9px 20px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    box-shadow: none;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 25px;
}
  
.btn.btn-default.btn-block:hover {
    background-color: rgba(39, 174, 96,0.8);
    color: #fff;
}
  
.form-control {
    padding: 10px;
    height: 42px;
    box-shadow: none;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #bdc3c7;
    color: #000;
    font-weight: 400;
}
  
.text-right {
    text-align: right;
}
  
.btn: last-child {
    margin-right: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/* Remove the padding we set earlier */
    .header,
    .marketing {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
}