
body {
    color: #2c3e50;
    background-color: #ffffff;
}

.backBlue {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #34495e;
    color: white;
    padding: 30px 0 20px;
}

@media (min-width: 768px) {
    .backBlue {
        background-image: url("../../resources/img/1K_black.jpg");
    }
}

@media (max-width: 767px) {
    .backBlue {
        background-image: url("../../resources/img/squarespace-hq-office-1-black-mobile.jpg");
    }
}

.k-logo img {
    height: 40px;
    margin-top: 8px;
}

.colorStripe {
    display: none;
    background-color: #2980b9;
    color: white;
    padding: 12px 0;
}

.colorStripe p {
    margin: 0;
}

.colorStripe .stripeText {
    margin-top: 8px;
    line-height: 21px;
}

.btn-whiter {
    color: #34495e;
    font-weight: 600;
    background-color: white;
}

.btn-whiter:hover {
    color: #2c3e50;
    background-color: #ecf0f1;
}

.explained {
    padding: 40px 0;
}

.explained h2 {
    color: #16a085
}

h1 small {
    color: #eee;
}

.jumbo h1 {
    margin-top: 0.75em;
    font-size: 54px;
}

.jumbo .lead {
    font-size: 41px;
    font-weight: 500;
    margin-bottom: 48px;
}

@media (max-width: 767px){ 
    .jumbo h1 {
        font-size: 41px;
    }
    .jumbo .lead {
        font-size: 28px;
    }
    .orWatchVideo {
        font-size: 28px;
    }
 }
 @media(max-width: 331px) {
    .k-logo-text {
        margin: 15px 0 0 2px;
        font-size: 20px;
    }
 }

 /*common.css */
 @media (max-width: 767px){
  .btn-lgx {
   font-size: 28px;
  }
 }

.vertical {
    height: 100%;
    width: 5px;
    border-radius: 2px;
    background-color: #f0f0f0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    position: absolute;
    left: 465px;
}

.timeline {
    width: 940px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.step {
    border: 1px solid #bbbbbb;
    margin: 20px 0;
    padding: 10px 20px 20px;
    width: 457px;
    border-radius: 7px;
    position: relative;
    background-color: #ffffff;
}

.role1 {
    border-top-right-radius: 0;
}

.role2 {
    left: 483px;
    border-top-left-radius: 0;
}

.joint {
    width: 7px;
    height: 7px;
    border-radius: 3px;
    position: absolute;
    top: -4px;
    left: 463px;
    background-color: #cccccc;
    border: 1px solid #aaaaaa;
    z-index: 100;
}

.role2 .joint {
    left: -20px;
}

.connector {
    border-top: 1px solid #bbbbbb;

    position: absolute;
    top: -1px;
    left: 453px;
    width: 13px;
}

.role2 .connector {
    left: -13px;
}

.fa.stepIcon {
    margin: 20px 0 10px 10px;;
    font-size: 48px;
    float: right;
}

.role2 .stepIcon {
}

.vertical, .joint, .connector {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.spanLgx {
    display: inline-block;
    padding: 17px 0;
    vertical-align: middle;
    font-size: 40px;
    line-height: 36px;
}

.watchVideoLink {
    /*color: white;*/
    text-decoration: none;
    font-size: 32px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.watchVideoLink:hover {
    /*color: white;*/
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, .75);
}

.text-right-md {
    text-align: right;
}

.pull-right-md {
    float: right;
}

@media (max-width: 639px) {
    .steaky-top {
        position: static;
        box-shadow: 0 0 13px gray;
    }

    .backBlue {
        padding-top: 20px;
    }

    .text-right-md {
        text-align: center;
    }

    .pull-right-md {
        float: none;
        display: table;
        margin-top: 8px;
    }

    .colorStripe .btn {
        float: none;
    }
}

@media (max-width: 991px) {
    .colorStripe p {
        margin-bottom: 12px;
    }
}

@media (max-width: 959px) {
    .timeline {
        padding-right: 48px;
        width: auto;
        max-width: 500px;
    }

    .vertical {
        left: 15px;
    }

    .joint {
        left: -20px;
    }

    .connector {
        left: -13px;
    }

    .step {
        left: 33px;
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        width: auto;
        max-width: 465px;
    }
}

/* for product hunt launch */

#the-intro-bar {
    top: 64px;
}
#powered-by{
    visibility: hidden;
}

.explainations p, ul {
}
.explainations code {
    font-size: 78%;
}
h1 code {
    font-size: 84%;
    background-color: transparent;
    color: inherit;
    border: 0 none;
}

.orWatchVideo {
    font-size: 40px;
    padding: 15px 0;
    line-height:36px;
    vertical-align:middle;
    display: inline-block;
    color: rgba(255, 255, 255, .75);
}
.wistia_click_to_play {
    display: inline-block;
}
.orWatchVideo a {
    border-bottom: 2px solid rgba(255, 255, 255, .55);
    text-decoration: none;
    line-height: 2;
    color: white;
}
.orWatchVideo a:focus, .orWatchVideo a:hover, .orWatchVideo a:active {
    border-color: white;
}