html,body { 
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.full-height {
    height: 100%;
}

.onboard {
    text-align: center;
    position: fixed;
    z-index: 110;
    top: -100%;
    left: 0;    
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /*display: none;*/
    /*opacity: 0;*/
    transition: top 300ms ease-in;
    border-bottom: 60px solid #95a5a6;
}
.onboard.visible {
    top: 0;
    /*opacity: 1;*/
}

.onboardStep {
    min-height: 100%;
}
.modalLayout {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.fullscreen {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.closeFullscreenModal {
    position: absolute;
    left: 20px;
    top: 20px;    
    color: #bdc3c7;
    line-height: 1em;
    z-index: 120;
}
.closeFullscreenModal:hover, .closeFullscreenModal:hover i {
    color: #e74c3c;
}
.closeFullscreenModal:active, .closeFullscreenModal:focus, .closeFullscreenModal:active i, .closeFullscreenModal:focus i {
    color: #c0392b;
}

.onboardSignup {
}
.onboardInstall {
}
.onboardMessenger {
}
.onboardStep [class*="col-"] {
}
div.onboardStep {
    background-color: rgba(255, 255, 255, .97);
}
.onboardStep .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.onboardStep .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767) { 
    .onboardStep .row > .col-xs-12, .onboardStep .row > .col-sm-12 {
        width: 100%;
    }
}
@media (min-width: 768) and (max-width: 992px) { 
    .onboardStep .row > .col-sm-12 {
        width: 100%;
    }
}


