.pricing {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .price {
    font-weight: 700;
    font-size: 25px;
  }
  
  .pricing h3 {
    font-size: 30px;
  }
  
  .questions {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 17.5px;
    font-weight: 700;
  }
  
  .text-color {
    color: #2ecc71;
  }
  
  .text-color:hover {
    color: #2ecc71;
  }
