.descriptionColumn {
    width: 40%;
}

.durationColumn {
    width: 15%;
}

.startTimeColumn {
    width: 15%;
    text-align: right;
}

.lastOpenedColumn {
    width: 15%;
    text-align: right;
}

.autonomousModeColumn {
    width: 7%;
    text-align: center;
}

.deleteRecordColumn {
    width: 8%;
    text-align: center;
}

.descriptionEditIcon {
    font-size: 20px;
    float: right;
}

a.description {
    word-break: break-all;
    width: 90%;
    display: inline-block;
    font-size: 12pt;
}

td.descriptionColumn {
    cursor: pointer;
}

.faded {
    opacity: .15;
    transition: all 1s;
}

.unfaded {
    opacity: 1;
    transition: all 1s;
}

.unhidden {
    display: block !important;
    visibility: visible !important;
}

.defaultDescription {
    color: gray;
}

.autonomousColumnOff {
    color: gray;
    font-size: 90%;
}

tr.deletedRecord td.hidable,
tr.deletedRecord td.hidable a,
tr.deletedRecord td.hidable i {
    color: rgb(240, 240, 240);
    text-decoration: line-through;
}

tr.deletedRecord > td {
    background-color: white !important;
}

.noRecordsMsg {
    margin-bottom: 60px;
    font-size: 14pt;
    text-align: center;
    color: #e85445;
}
.teamRecordsMsg {
    margin-bottom: 60px;
    font-size: 14pt;
    text-align: center;
    color: #8e44ad;
}