
.bugFixingStages {
    font-size: 16px;
    overflow-x: auto;
}

.table>tbody>tr.active>td {
    background-color: transparent;
    padding: 0;
}
.active .title {
    background-color: #ecf0f1;
    padding: 8px;
    margin: 2px 0 10px;
    font-weight: 600;
}
.bugFixingStagesTable > thead > tr > th {
    border-bottom: 0 none;
    border-right: 2px solid transparent;
}

.bugFixingStagesTable > tbody > tr > td {
    border-top: 0 none;
    border-right: 2px solid #bdc3c7;
}

.bugFixingStagesTable > thead > tr > th:last-child,
.bugFixingStagesTable > tbody > tr > td:last-child {
    border-right: 0 none;
}

.bugFixingStagesTable > thead > tr > th,
.bugFixingStagesTable > tbody > tr > td {
    width: 15px;
}
/* nice right arrows */
.bugFixingStagesTable > thead > tr > th {
    vertical-align: middle;
    width: 25%;
}
.bugFixingStagesTable th {
    height: 60px;
    background: #95a5a6;
    text-align: center;
    padding: 10px 0 14px 30px;
    position: relative;
    margin: 0 10px 0 0; 
    
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    color: #fff;
}
.bugFixingStagesTable th span:after {
    content: "";  
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 10px solid #95a5a6;
    position: absolute; right: -10px; top: 0;
    z-index: 1;
}

.bugFixingStagesTable  th span:before {
    content: "";  
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 10px solid white;
    position: absolute; left: 0; top: 0;
}

.bugFixingStagesTable  th:first-child {
    border-top-left-radius: 16px; 
    padding-left: 20px;
}
.bugFixingStagesTable  th:first-child span:before {
    display: none; 
}

.bugFixingStagesTable  th:last-child {
    border-top-right-radius: 16px; 
}
.bugFixingStagesTable  th:last-child span:after {
    display: none; 
}

.bugFixingStagesTable  th:hover {
    background: #1abc9c;
}
.bugFixingStagesTable th:hover span:after {
    border-left-color: #1abc9c;
}
