.homepageButtons{
    margin-left: 80%;
    width: 20%;
    margin-top: 30px;
}

.demoRegisterButton, .registerButton, .loginButton {
    display: block;
    margin: 3px 0;

    font-size: 12pt;

    border: 1px solid #95a5a6;
    border-radius: 5px;
}

.demoRegisterButton {
    background-color: #bdc3c7;
}

.loginButton, .registerButton {
    background-color: #ecf0f1;
}

.signButtons {
    width: 100%;
}
