/* Installation guide */
.nt {
  color: #c0392b;
}

.na {
  color: #2980b9;
}

.s {
  color: #27ae60;
}

.l {
  color: #f39c12;
}

.eq {
  color: #d35400;
}

.language-html {
  padding-left: 0px;
  font-size: 13px;
}

.api {
  color: #2ecc71;
  text-decoration: none;
  font-weight: 400;
}

.api:hover {
  color: #2ecc71;
}
