
body, html {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Calibri, "Lucida Sans", "San Francisco", sans-serif;
    font-size: 16px;
    line-height: 175%;
    -webkit-font-smoothing: antialiased;
}
.panel.dropdown-menu {
    padding: 0;
}
.complex-dropdown-menu-item {
    display: block;
    cursor: pointer;
    padding: 7px 15px;
    border-bottom: 1px solid #bdc3c7;
}
.complex-dropdown-menu-item h5 {
    font-size: 18px;
    
}
.complex-dropdown-menu-item:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
}


.spinnerDiv {
    background-color: rgba(23, 35, 34, .75);
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}

.frameTicksDiv {
    min-height: 10px;
    line-height: 7px;
    border: 1px solid #676767;
    border-radius: 2px;
    overflow: hidden;
}

.frameTick {
    height: 10px;
    line-height: 10px;
    width: 9px;
    background-color: white;
    border-right: 1px solid black;
    display: inline-block;
}

.controlsDiv {
    float: left;
}

.textOverflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.controlDiv {
    line-height: 12px;
    font-size: 12px;

    margin-right: 5px;
    display: inline-block;
    color: #aaa;
}

.controlDiv {
    color: #e2e2e2;
}

.eventInfoListTitle {
    font-size: 12pt;
}

.eventInfoList {
    font-size: 10pt;
    margin: 0;
    padding-left: 20px;
}

.installExtensionBox {
    margin-top: 30px;
    display: none;
}

.confirmationAlert {
    text-align: right;
    padding: 5px 20px;
    font-size: 12pt;
}

.paymentCard {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 9px 10px 9px 12px;
    color: #000;
    background-color: #ffffff;
    line-height: normal;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;    
}
.paymentCardStarz {
    letter-spacing: 2px;
    padding-left:10px;
}

.activePlan, .activePlan .panel-body, .activePlan .panel-heading {
    border-color: #3498db;
    border-width: 2px;
}
.activePlan {
    margin-top: -1px;
    box-shadow: 0 2px 20px rgba(52, 152, 219,.3);
}
.activePlan .panel-heading h2, .activePlanLabel {
    color: #3498db !important;
}

.activePlan-hobby, .activePlan-hobby .panel-body, .activePlan-hobby .panel-heading {
    border-color: rgba(230, 126, 34,1.0);
}
.activePlan-hobby {
    box-shadow: 0 2px 20px rgba(230, 126, 34,.3);
}
.activePlan-hobby .panel-heading h2, .activePlanLabel-hobby {
    color: rgba(230, 126, 34,1.0) !important;
}

.cat {
    background-image: url("/resources/img/cat.png");
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: -52px;
    float: LEFT;
}

.hidden {
    display: none;
}

.form-control {
    color: #34495e;
}

.input-group .btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.stacktraceFunction {
    float: left;
    margin-right: 20px;
}

.stacktraceUri {
    float: right;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 100;
}
.navbar-inverse {
    background: white; 
    border-color: #ecf0f1;
}

.inAppCatty {
    width: 48px;
    margin: -16px 0 -32px 0;
    padding: 4px;
    transition: -webkit-filter 0.3s;
}

.navbar-inverse .navbar-nav > li > a.installScript {
    background: #9b59b6;
    padding: 3px 7px;
    border-radius: 3px;
    margin-top: 12px;
    color: white;
}

.navbar-inverse .navbar-nav > li > a.installScript:hover {
    background: #8e44ad;
}
.nav-pills > li > a {
    border: 2px solid white;
    padding: 6px 11px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    border-color: #2ecc71;
    background-color: white;
    color: inherit;
}

.installScript:hover .inAppCatty, .installScript:focus .inAppCatty {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

#logoutLink {
    color: #82888C;
}

#header {
    padding-bottom: 80px;
}


code {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    font-size: 1em;
    font-weight: inherit;
    word-break: break-all;
    word-wrap: break-word;
    color: inherit;
    background-color: transparent;
    border-bottom: none;
    margin-bottom: -2px;
    padding: 0;
    border-radius: 0;
}

h1 {
    font-size: 57px;
}

h2 {
    margin: .8em 0px .6em;
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6, .caption {
    /*font-family: "Georgia", "Constantia", "Helvetica Neue", Calibri, "Lucida Sans", "San Francisco", sans-serif;*/
    font-weight: 600;
    margin: 1.25em 0 .75em;
    -webkit-font-smoothing: antialiased;
}

#tabs-wrapper h1 {
    margin-top: .25em;
}

p {
    font-size: 18px;
    margin-bottom: 1.25em;
}

img.screenshot {
    margin: 10px auto 20px;
    display: block;
    border: 1px #95a5a6 solid;
    width: 100%;
    box-shadow: 0 2px 5px #bdc3c7;
    max-width: 720px;
}

h2 > small {
    display: block;
    margin-top: 10px;
    font-size: 60%;
}

.panel-content {
    padding: 10px 20px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #2980b9;
}

.bs-callout-danger {
    border-left-color: #c0392b;
}

.bs-callout-danger h4 {
    color: #c0392b;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.btn-danger {
    background-color: #9b59b6;
    border-color: #8e44ad;
}
.btn-danger:active, .btn-danger:hover, .btn-danger:focus, .btn-danger.active, .open > .dropdown-toggle.btn-danger{
    background-color: #8e44ad;
}
.repel {
    color: white; 
    background-color: rgb(89, 89, 89); 
    padding: .1em .3em;
    display: inline-block;
}

i.fa-opera {
    color: #ff1b2d;
}

i.fa-internet-explorer {
    color: #1ebbee;
}

i.fa-safari {
    color: #40b6da;
}

i.fa-facebook-square {
    color: #3b5998;
}

i.fa-chrome {
    color: #daa900;
}

i.fa-windows {
    color: #1ebbee;
}

i.fa-osx {
    color: #848484
}

i.fa-linux {
    color: #000000;
}

i.fa-android {
    color: #4fc34f;
}

i.fa-desktop {
    color: #2980b9;
}

i.fa-mobile {
    color: #2ecc71;
}

i.fa.default-icon {
    color: #bbbbbb;
}

.os-icon-text, .browser-icon-text {
    padding-left: 5px;
    color: #7f8c8d;
}

.chromeAddressBar {
    /*
    http://superuser.com/questions/138419/what-font-does-google-chrome-address-bar-use
    */
    font-size: 15px;
    font-family: "Lucida Grande", Cantarell, "Segoe UI", Tahoma, sans-serif;
}

.sequentGroupTitle {
    coor: #7f8c8d;
}
.navbar-inverse .navbar-nav>li>a {
    font-weight: 600;
}

.fa-chromium {
    color: #007faa;
}

.fa-chromium:before {
    /* Chrome icon */
    content: "\f268";
}

#issuesQuotaNotificationContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#issuesQuotaNotification {
    width: 100%;
    background-color: #e74c3c;
    border-top: 4px solid #c0392b;
    padding: 6px;
    font-size: 20px;
    color: white;
}
#issuesQuotaNotification a {
    color: white;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
#issuesQuotaNotification a:hover {
    text-decoration: none;
    border-color: rgba(255, 255, 255, 0.9);
}
.issuesQuotaNotificationIcon {
    height: 48px;
    margin: 8px 24px 8px 16px;
    float: left;
}

.issuesQuotaNotificationClose {
    float: right;
    cursor: pointer;
    margin-right: 8px;
    font-size: 1.2em;
}

.issuesQuotaNotificationMessageTitle {
    margin: 12px 0 6px;
    font-weight: 600;
}
.issuesQuotaNotificationMessageContent {
    margin-bottom: 12px ;
    
}

.dropdown-menu>li.dropdown-menu-item:hover, .dropdown-menu>li.dropdown-menu-item:focus {
    text-decoration: none;
    color: #2b3c4e;
    background-color: #f5f5f5;
}
.dropdown-menu>li.dropdown-menu-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #34495e;
    white-space: nowrap;
    cursor: pointer;
}

.table {
    display: table;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
}

.dropdown.open .dropdown-menu-ala-slack {
    color: #9b59b6;    
}
.dropdown-menu-ala-slack .dropdown-header {
    font-size: 14px;
    background-color: #ecf0f1;
    color: #95a5a6;
    border-top: 1px solid #bdc3c7;
    margin-top: 4px;
}

.navbar-nav > li > .dropdown-menu-ala-slack {
    margin-right: -20px;
    border-color: #bdc3c7;
}
.dropdown-menu-ala-slack {
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
}
.dropdown-menu-ala-slack > li > a {
    padding: 6px 9px;
    border-radius: 3px;
    color: #34495e;
}
.dropdown-menu-ala-slack .fa-fw {
    margin-right: 8px;
}
a:hover i, a:active i, a:focus i {
    color: #2ecc71;
}
.fa-telegram {
    color: rgb(36, 160, 217);
}
.fa-support {
    color: #34495e;
}
.fa-user-circle{
    color: #1abc9c
}
.fa-credit-card {
    color: #8e44ad;
}
.fa-users {
    color: #e74c3c;
}

a:hover .fa-skype, a:active .fa-skype, a:focus .fa-skype {
    color: rgb(0, 166, 227);
}
.fa-support {
    color: #34495e;
}


.dropdown-menu-ala-slack > li > a:hover {
    background-color: #ecf0f1;
}
.navbar-nav > li > .dropdown-menu-ala-slack {
    border-radius: 6px;
}
.dropdown-menu-ala-slack .dropdown-header {
    font-size: 1em;
    margin-top: 15px;
    display: none;
    
}

.dropdown-toggle-ala-slack {
    padding: 10px 15px;
    color: #34495e;
    font-size: 14pt;
    cursor: pointer;
}
.dropdown-toggle-ala-slack:hover .fa-bug {
    color: #d35400;
}

.open .dropdown-toggle-ala-slack .fa-bug {
    color: #e67e22;
}
.dropdown-toggle-ala-slack:hover i {
    color: #2980b9;
}

.open .dropdown-toggle-ala-slack i {
    color: #3498db;
}

.nav-pill-ala-stack > li > a {
    color: #34495e;
}


