td.open-record-column {
    text-align: center;
}

td.id-column {
    font-weight: 700;
    color: #34495e;
}

.website-column {
    color: #2980b9;
    font-size: 15px;
    font-family: "Lucida Grande", Cantarell, "Segoe UI", Tahoma, sans-serif;
}

.description-column {
    width: 30%;
}

.user-id-fld {
    display: inline-block;
    width: auto;
    margin-left: 5px;
}

.table-striped > tbody > tr.issue:hover {
    background-color: #ecf0f1;
}
.table th {
    font-family: Lato, serif;
    font-weight: 900;
}

#no-issues-alert {
    text-align: center;
}

.deviceTypeIcon, .browserVersion {
    color: #bdc3c7;
}

.issue.deleted {
    color: #bdc3c7;
    background-color: #ecf0f1;
    opacity: 0.3;
}

.deleteIssueIcon > i {
    cursor: pointer;
    color: #7f8c8d;
}

.deleteIssueIcon {
    text-align: center;
}

.deleteIssueIcon > i:hover {
    color: #d35400;
}

#issue-filter-dropdown-menu {
    width: 400px;
}

#issue-filter-dropdown-menu .dropdown-header {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

#issue-filter-dropdown-toggle {
    cursor: pointer;
    color: #2ecc71;
    text-align: center;
}
#issue-filter-dropdown-toggle:hover {
    color: #16a085;
}
.dropdown-header-filter {
    background-color: #ecf0f1;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}
.dropdown-header-filter h3 {
    color: #7f8c8d;
    margin: 0;
}
.dropdown-header-filter+.divider {
    margin-top: 0;
}
.error-filter-dropdown {
    padding: 0 0 20px;
}
.error-filter-dropdown code{
    border-bottom: 0 none;
}
.error-filter-dropdown.dropdown-menu .dropdown-menu-item {
    margin: 0 20px;
    padding: 8px 20px;
    overflow-x: hidden;
    border-radius: 4px;
}




.stepChart {
    display: inline-block;
    height: 32px;
    min-width: 80px;
}    
.stepChartStep {
    display: inline-block;
    height: 100%;
    margin-right: 4px;
}
.stepChartColumn {
    padding-right: 1px;
    display: inline-block;
}
.stepChartLoss,
.stepChartDrop,
.stepChartAffected {
    display: inline-block;
    vertical-align: bottom;
}
.stepChartLoss {
    width: 16px;
    background-color: #c0392b;
    border-bottom: 1px solid #c0392b;
}
.stepChartLossColumn .fa-circle {
    color: #c0392b;
}
.stepChartDrop {
    background-color:  #2980b9;
    border-bottom: 1px solid #2980b9;
    width: 16px;
}
.stepChartDropColumn .fa-circle {
    color: #2980b9;
}
.stepChartAffected {
    background-color:  #16a085;    
    border-bottom: 1px solid #16a085;
    width: 16px;
}
.stepChartAffectedColumn .fa-circle {
    color: #16a085;
}
.stepChartStepNull .stepChartLoss,
.stepChartStepNull .stepChartDrop,
.stepChartStepNull .stepChartAffected,
.stepChartStepNull .fa-circle {
    border-color: #bdc3c7;
    color: #dddddd;    
}
    
