.installChrome, .installKuoll, .runKuoll, .goKuoll {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height, opacity 1s;
}

.installKuoll {
    height: auto;
    opacity: 1;
}

.isUnsupportedBrowser .installChrome,
.isSupportedBrowser .installKuoll,
.isKuollInstalled .runKuoll,
.isKuollRunning .goKuoll {
    height: auto;
    opacity: 1;
}

.isKuollInstalled .installKuoll,
.isKuollRunning .runKuoll {
    height: 0;
    opacity: 0;
}
