#sequentPanel {
    padding: 0 10px 10px 5px;
    user-select: none;
    -webkit-user-select: none;
    width: 62%;
    display: inline-block;
    vertical-align: top;
}

#timeline {
    background-color: #95a5a6;
    border-radius: 2px;
    overflow: hidden;
    font-size: 12px;
}

.frameLine {
    padding-left: 4px;
    border-top: 2px solid #7f8c8d;
}

.clear {
    clear: both;
}

.frameDiv {
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
    padding-left: 2px;
    vertical-align: middle;
    float: left;
}

.activeFrameDiv {
    border-color: #ecf0f1;
    background-color: #ecf0f1;
    border-top-left-radius: 8px 2px;
    border-top-right-radius: 8px 2px;
}

.sequentLine {
    background-color: #ecf0f1;
}

#sequentCategories {
    width: 22px;
    float: left;
    margin: 17px 6px 0 0;
}

.sequentLine {
    white-space: nowrap;
}

.sequentLineScroll {
    padding-top: 5px;
    padding-left: 10px;
    height: 139px;
    background-color: #ecf0f1;
}

.introDiv {
    height: 14px;
    padding: 2px 4px 4px 4px;
    margin-bottom: 8px;
}

.roundTopLeft {
    border-top-left-radius: 50%;
}

.roundBottomRight {
    border-bottom-right-radius: 50%;
}

/* New timeline */

.sequentDiv {
    margin: 6px 1px;
    padding: 1px;

    font-size: 14px;

    display: inline-block;
    vertical-align: top;
    height: 24px;
    width: 20px;
    text-align: center;

    border: 0 solid transparent;

    cursor: pointer
}

.sequentGroupTitle {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 7px;
    text-align: center;
}

.codeSign {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 90%;
}

/* Sequent type groups */

.userActionSequentGroup {
    margin-top: 0;
}

.visualChangeSequentGroup {
    margin-top: 30px;
}

.networkingSequentGroup {
    margin-top: 60px;
}

.executionSequentGroup {
    margin-top: 90px;
}

.sequentDiv.userAction {
    margin-top: 0;
}

.sequentDiv.visualChange {
    margin-top: 30px;
}

.sequentDiv.networking {
    margin-top: 60px;
}

.sequentDiv.execution {
    margin-top: 90px;
}

.navigationSequent {
    margin-top: 0;
    height: 114px;
    width: 30px;
    background-color: #bdc3c7;
    font-size: 30px;
    line-height: 104px;
    border: 2px solid #7f8c8d;
    border-radius: 8px;
    margin-left: 40px;
}

.navigationSequent:hover {
    border-color: red;
}

/* Sequent types */

.mouseClickSequent {
    color: #8e44ad;
}

.keyboardSequent {
    color: #2980b9;
}

.domMutationSequent {
    color: #f39c12;
}

.resizeSequent {
    color: #7d5d9c;
}

.scrollSequent {
    color: #939c3f;
}

.visibilitySequent {
    color: #609c90;
}

.xhrRequestSequent {
    color: #16a085;
}

.xhrResponseSequent {
    color: #27ae60;
}

.beforeUnloadSequent {
    color: #b5505e;
}

.initialLoadSequent {
    color: red;
}

.consoleSequent {
    color: #d35400;
}

.timerSequent {
    color: #e74c3c;
}

.scriptSequent {
    color: #2c3e50;
}

.errorSequent {
    color: red;
}

.focusSequent {
    color: #333388;
}

.readyStateChangeSequent {
    color: #538788;
}

.inputSequent {
    color: #46883e;
}

.loadSequent {
    color: #0d9613;
}

.xhrLoadSequent {
    color: #208596;
}

.domContentLoadedSequent {
    color: #212f9b;
}

.setCookieSequent {
    color: #009b77;
}

.evalSequent {
    color: #9b0016;
}

.xhrAbortSequent {
    color: #9b3400;
}

.createIssueSequent {
    color: #9b000a;
}

.unknownSequent {
    color: #448844;
    border-radius: 4px;
}

.series-hover {
    background-color: #ecf0f1;
}

.sequentIconPad {
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
}

.series-highlighting .sequentIconPad {
    background-color: #7f8c8d;
}

.sequent-highlighting .sequentIconPad {
    background-color: #bdc3c7;
}

.sequentIconPad:hover {
    background-color: #95a5a6;
}

.key {
    border: 1px solid #2c3e50;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    padding: 1px 4px;
    min-width: 30px;
}


.tabInfoItem {
    height: 34px;
    clear: both;
}

.tabInfoItemName {
    font-size: 14px;
}

.tabInfoItemValue {
    text-align: right;
}

#sequentTabs {
    display: inline-block;
    width: 38%;
    vertical-align: top;
    max-height: 158px;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-style: auto;
    padding-right: 4px;
}

#sequentTabs p {
    margin-bottom: 4px;
}

.highlightButton {
    font-size: 14px;
    line-height: 14px;
}

.btnActive {
    font-weight: bold;
}

.nav-tabs {
    height: 42px;
    border-bottom: none;

    width: calc(100% - 60px);
    position: relative;
    float: left;
}

.tab-pane {
    overflow: scroll;
    max-height: 158px;
}

.tab-pane#detail {
    overflow: auto;
}

#slider-box {
    overflow: hidden;
    padding: 4px 7px;
}

#snapshotSlider {
    margin: 6px 0 8px;
    height: 8px;
    border: 0 none;
    border-radius: 4px;
}

#snapshotSlider .ui-slider-range {
    background: #e74c3c;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#snapshotSlider .ui-slider-handle {
    border-color: #95a5a6;
}

.ui-slider-handle:focus {
    outline: none;
}

.snapshotSliderInfo {
    margin-left: 50px;
}

#headerBox {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    clear: both;
    background-color: white;
    padding: 10px;
}

.stacktraceItem {
    font-size: 11pt;
}

.tabItemHeader {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.alwaysShowScrollbar {
    /*
     HACK.
     see http://jsfiddle.net/jeremy/Eh7xT/342/ and
     http://stackoverflow.com/questions/7855590/how-can-i-prevent-scroll-bars-from-being-hidden-for-os-x-trackpad-users-in-webki
     for details
     */
    overflow-y: hidden;
    overflow-x: scroll;
    line-height: 1em;
}

.alwaysShowScrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.alwaysShowScrollbar::-webkit-scrollbar:vertical {
    width: 11px;
}

.alwaysShowScrollbar::-webkit-scrollbar:horizontal {
    height: 11px;
}

.alwaysShowScrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #ecf0f1; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

div.sequentDiv > i.fa {
    font-size: 16px;
}

#shareRecordBtn {
    width: 100px;
    margin-right: 10px;
}

#shareRecordDropdownPanel {
    width: 350px;
    padding: 5px 15px;
}

#shareRecordForm {
    margin-top: 5px;
}

#snapshotUrl {
    font-family: "Lucida Grande", "Helvetica Neue", Verdana, Calibri, sans-serif;
    line-height: 100%;
    font-weight: 600;
}

.url > .path {
    color: #686868;
}

.firefoxColor {
    width: 20px;
    color: #C94A25;
    text-align: right;
}

#tabsHeaderWrapper:before, #tabsHeaderWrapper:after {
    content: " ";
    display: table;
}

#tabsHeaderWrapper:after {
    clear: both;
}

#previousSequentButton {
    cursor: pointer;
    color: #bdc3c7;
}

#previousSequentButton:hover {
    color: #27ae60;
}

#snapshot {
    width: 100%;
    border: 0 none;
    height: 1000px;
    background-color: white;
    overflow: scroll;
}

div#main {
    padding: 10px;
    font-size: 12pt;
}

div#main p {
    margin: 5px 0;
}

div#main code, div#main pre {
    min-height: 1.5em;
    vertical-align: middle;
    display: inline-block;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1px 3px;
    margin: 2px 0;
    font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
    color: rgb(52, 73, 94);
    line-height: 1.5em;
}

body {
    padding-top: 50px;
}

#snapshot {
    border: 3px solid #bdc3c7;
    border-radius: 5px;
    box-shadow: 0 3px 10px #bdc3c7;
}

.snapshotContainer {
    text-align: center;
    padding: 5px 0 40px;
}

.loadingSnapshotContainer {
}

.loadingSnapshot {
    position: fixed;
    z-index: 3;
    box-sizing: content-box;
    margin: -30px auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 60px;
    list-style: none;
}

.loadingSnapshotHidden {
    height: 0;
    opacity: 0;
    transition: height 0.5s ease-out;
}

@-webkit-keyframes loadbars {
    0% {
        height: 10px;
        margin-top: 25px;
    }
    50% {
        height: 50px;
        margin-top: 0px;
    }
    100% {
        height: 10px;
        margin-top: 25px;
    }
}

.loadingSnapshot li {
    background-color: #FFFFFF;
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 5px;
    box-shadow: 0px 100px 20px rgba(0, 0, 0, 0.2);
}

.loadingSnapshot li:first-child {
    -webkit-animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s;
}

.loadingSnapshot li:nth-child(2) {
    -webkit-animation: loadbars 0.6s ease-in-out infinite -0.2s;
}

.loadingSnapshot li:nth-child(3) {
    -webkit-animation: loadbars 0.6s ease-in-out infinite -0.4s;
}

#main-caption-container {
    width: 600px;
    margin: 0 auto;
}

#main-caption {
    text-align: center;
    font-size: 20px;
    color: rgb(46, 204, 113);
}

span.longText {
    vertical-align: middle;
}

span.longText.shortened {
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;
    max-width: 200px;
}

#info-icon-wrapper i.fa {
    color: #2980b9;
    cursor: pointer;
}

#record-info-wrapper {
    float: right;
}

#record-info {
    color: #7f8c8d;
    font-size: 12pt;
    line-height: 14pt;
    margin: 1px 5px;
}

#record-info > p {
    margin: 5px 0;
}

#record-info .record-label {
    margin-top: 12px;
}

.embed-script-recording-label {
    display: inline-block !important;
    width: calc(100% - 20px);
}

#record-info .record-label {
    display: block;
}

#snapshotUrlWrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    padding-right: 8px;
    font-size: 14px;
    float: left;
    display: inline-block;
}

#snapshotUrlWrapper > i.fa {
    width: 20px;
    text-align: right;
}

#snapshotSlider .ui-state-default, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-slider .ui-slider-handle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 0 none transparent;
    background: #c0392b;
    margin-left: -7px;
    margin-top: 3px;
}

#playback-buttons-wrapper > button {
    font-size: 8pt;
}

#playback-buttons-wrapper > button + button {
    margin-left: 5px;
}

#playback-buttons-wrapper {
    margin-right: 10px;
    float: left;
}
.btn-light {
    background-color: #ecf0f1;    
    color: #16a085;
    padding: 4px;
}
.btn-light:hover,.btn-light:active,.btn-light:focus  {
    background-color: #bdc3c7;
    color: #2ecc71;
}

#playback-time-skipped-container {
    position: fixed;
    bottom: 50px;
    left: 30px;
}

.playback-skipped-time-tip {
    font-size: 14pt;
    padding: 5px 10px;
    line-height: 1.2em;
    opacity: 0.7 !important;
}

#header-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

#recordsLink {
    color: #7f8c8d;
    width: 36px;
    display: block;
    text-align: left;
    float: left;
    margin: -4px 8px -4px -6px
}

#recordsLink:hover {
    color: #27ae60;
}

#showPanelsBtn {
    width: 90px;
}

#mouse-sequent-mark-container {
    width: 100%;
    height: 100%;
    background-color: #bdc3c7;
    border-radius: 4px;
}

.mouse-sequent-mark-pod {
    padding: 0 3px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    height: 0.9em;
    margin-left: 0.15em;
}

.mouse-sequent-mark {
    width: 3px;
    height: 8px;
}

.mouse-sequent-mark-click > div {
    background-color: rgba(243, 156, 18, .5);
}

.mouse-sequent-mark-dragstart > div {
    background-color: rgba(211, 84, 0, .5);
}

.ui-widget-content {
    border: 1px solid #7f8c8d;
}

.ui-widget-header {
    border: 1px solid #7f8c8d;
    background: #95a5a6;
}

.ui-dialog-titlebar-close {
    font: normal normal normal 14px/1 FontAwesome !important;
}

.ui-dialog-titlebar-close:before {
    content: "\f00d"; /*close icon from FontAwesome*/
    color: #3d566e;
}

.ui-icon-closethick {
    background-image: none;
}

#sequent-json {
    margin-bottom: 0;
}

.start-params-json-block {
    margin-bottom: 0;
}

.start-params-icon-wrapper {
    cursor: pointer;
    vertical-align: middle;
    padding-top: 2px;
    display: inline-block;
    width: 20px;
    text-align: center;
    color: #8e44ad;
}

.start-params-header {
    text-decoration: underline;
    color: #3d566e;
    margin: 4px 0 6px;
    font-size: 12pt;
    font-weight: bold;
}

.start-params-tip {
    min-width: 400px;
}

#loading-spinner {
    float: right;
    color: #27ae60;
}

#header-bottom {
    clear: left;
}

.stacktrace-item-divider {
    color: grey;
    padding-left: 15px;
    padding-right: 5px;
}

.stacktrace-item-function {
    padding-left: 15px
}

.error-msg {
    width: 80%;
    margin: auto;
    font-size: 13pt;
}

#sequentTabs p,
#sequentTabs code {
    font-size: 10pt;
    line-height: 1.8em;
}

#sequentTabs code {
    padding: 1px;
    line-height: 1.3em;
}

#sequentTabs ul, #sequentTabs ol {
    padding-left: 15px;
}

.snapshot-element-path-wrapper {
    display: inline-block;
    overflow: hidden;
    padding: 0 1px 0 3px;
    background-color: #ecf0f1;
    vertical-align: bottom;
}

.snapshot-element-path-wrapper > i {
    color: #8e44ad;
    padding: 0 0 0 2px;
    vertical-align: middle;
    cursor: pointer;
}
.snapshot-element-path-wrapper:hover > i {
    color: #c0392b;
}

.snapshot-element-path {
    border: none;
    display: inline;
    background: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 4px;
}

.snapshot-element-path-wrapper.highlighted  {
    background-color: #bdc3c7;
}

.snapshot-element-path-wrapper.highlighted > i {
    color: #e67e22;
}

.tab-pane > span > div, .tab-pane > span > pre {
    margin: 5px 0;
}

.browserVersion {
    display: none;
}
.keyboardButton {
    padding: 1px 4px 0 5px;
    background-color: #7f8c8d;
    border-width: 0;
    border-radius: 3px;
}

.long-text-ellipses {
    color: #95a5a6;
    font-style: italic;
    padding-left: 6px;
    display: inline-block;
}

.shortened .long-text-line {
    display: inline;
    margin-right: 2ex;
}