.rule, form.rule-form {
    position: relative;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #16a085;
    border-radius: 5px;
    padding: 5px;
}

input.rule-save, input.rule-add {
    position: absolute;
    width: 70px;
    bottom: 5px;
    right: 5px;
}

input.domain-input {
    width: calc(100% - 90px);
    max-width: calc(100% - 90px);
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.selector-input {
    display: block;
    margin-top: 10px;
    width: calc(100% - 90px);
    max-width: calc(100% - 90px);
    height: 100%;
}

.action-btn-wrapper {
    float: right;
    margin-left: 10px;
}

.action-btn-wrapper > div + div {
    margin-left: 5px;
}

.intro {
    max-width: 500px;
    margin: 10px auto 20px;
}