#recordsContainer {
    margin-bottom: 100px;
}

.record {
    padding: 5px 10px;
    border: 2px solid #27ae60;
    background-color: #f0f4f5;
    border-radius: 5px;
}

.record + .record {
    margin-top: 15px;
}

.issue {
    border: 2px solid #16a085;
    margin: 5px -10px;
    border-radius: 5px;
    background-color: #c6d6d7;
}

.issue > div {
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-word;
}

.issues-list {
    margin-left: -10px;
    margin-right: -10px;
}

.go-to-issue-btn {
    margin-top: 20px;
    cursor: pointer;
    font-size: 14pt;
    color: #27ae60;
}

.issues-list-wrapper {
    background-color: #e0e6ea;
    border: 1px solid #1abc9c;
    padding: 5px 10px;
    border-radius: 5px;
}

.issues-dropdown {
    cursor: pointer;
}

.record p.caption {
    font-size: 11pt;
    margin-bottom: 0;
}

p.caption + p {
    font-size: 14pt;
    font-weight: bolder;
}

p.caption + p.low-priority {
    color: #7f8c8d;
    font-size: 12pt;
    font-weight: lighter;
}

#recordsContainer {
    padding-left: 5px;
    padding-right: 5px;
}

.records-loading-wrapper, .issues-loading-wrapper {
    width: 100%;
    text-align: center;
    color: #2ecc71;
}

.records-loading-wrapper > p, .records-loading-wrapper > i {
    font-size: 18pt;
}

.issues-loading-wrapper > i {
    font-size: 14pt;
}

.record-label {
    margin-top: 12px;
}

.embed-script-recording-label {
    display: inline-block !important;
    width: calc(100% - 20px);
    font-size: 8pt;
}

.record-label {
    display: block;
}

.record-info > div {
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-word;
}

.record-info.row {
    margin-left: -10px;
    margin-right: -10px;
}

.start-params-icon-wrapper {
    cursor: pointer;
    vertical-align: middle;
    padding-top: 2px;
    display: inline-block;
    width: 20px;
    text-align: center;
    color: #8e44ad;
}

.start-params-json-block {
    margin-bottom: 0;
}

.start-params-header {
    text-decoration: underline;
    color: #3d566e;
    margin: 4px 0 6px;
    font-size: 12pt;
    font-weight: bold;
}

.start-params-tip {
    min-width: 400px;
}

.issues-dropdown > i.fa {
    margin-right: 10px;
}

.record-info > .record-info-column-5 {
    text-align: right;
    padding-right: 20px;
}

.settings-wrapper {
    margin: 0 0 10px;
}

.settings-group {
    border: 1px solid #2ecc71;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
}

.settings-wrapper > div {
    padding: 0 5px;
}

.settings-group input + span {
    margin-left: 5px;
}

.settings-group input {
    display: inline-block;
}

p.record-delete-btn {
    color: #e74c3c;
    cursor: pointer;
}

.deleted-record-restore-btn {
    cursor: pointer;
    color: #f1c40f;
    text-align: right;
    margin-right: 10px;
}

.record.deleted {
    border: 1px solid #16a085;
    background-color: #f3f7f8;
    color: gray;
}

div#emailConfirmationAlert {
    text-align: center;
}

a.description {
    word-break: break-all;
    width: 90%;
    display: inline-block;
    font-size: 12pt;
}

.defaultDescription {
    color: gray;
}

.descriptionEditIcon {
    font-size: 20px;
    float: right;
}

@media (min-width: 768px) {
    .horizontal-line {
        border-top: 1px solid black;
    }
}

@media (max-width: 767px) {
    .settings-wrapper > div + div {
        margin-top: 10px;
    }
}