.descriptionColumn {
    width: 50%;
}

.durationColumn {
    width: 12%;
}

.startTimeColumn {
    width: 12%;
}

.lastOpenedColumn {
    width: 12%;
}

.autonomousModeColumn {
    width: 7%;
}

.deleteRecordColumn {
    width: 7%;
}