body {
    overflow-y: scroll;
}
#save-info {
    color: #fff;
    background-color: #27ae60;
    border-color: #295;
}

#jira-settings {
    margin: 30px 0;
    padding: 0 50px;
}

#zendesk-info-form input[type="submit"] {
    margin-top: 25px;
}

#zendesk-settings {
    margin: 30px 0;
    padding: 0 50px;
}

#zendesk-info-form>.form-group {
    max-width: 600px;
}

#jira-info-form>.form-group {
    max-width: 600px;
}

#tabs-nav .fa-fw {
    margin-right: 6px;
}

h1 {
    margin-top: .35em;
}

.rule-wrapper {
    margin-bottom: 30px;
}

.settings-form-header {
    margin: 60px 0 30px;
}

.action-btn-wrapper {
    float: right;
    margin-left: 10px;
}

.action-btn-wrapper > div + div {
    margin-left: 5px;
}

.intro {
    max-width: 500px;
    margin: 10px auto 20px;
}

#tab-notification label {
    cursor: pointer;
}

#page-wrapper {
    margin-bottom: 100px
}

.api-key-wrapper {
    padding: 15px 15px 20px;
    margin-top: 30px;
    background-color: #ecf0f1;
    border: 1px solid #9b59b6;
    border-radius: 3px;
    color: #34495e;
}

.api-key {
    word-break: break-all;
    color: #974db6;
    font-size: 14pt;
    font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
}

/* Override default SubscriptionPlanSelect component styles */

.priceColumns {
     margin: 0;
}

.priceColumn {
    width: 32%;
}

.priceDefault {
    width: 35%;
}

.priceIcon {
    font-size: 82px;
}

.priceColumn h1 {
    font-size: 36px;
}

.price .amount {
     font-size: 40px;
     font-weight: 900;
}

.plan-name {
    margin: .75em 0;
}

.panel-heading {
    position: relative;
}

.recommended-plan {
    position: absolute;
    right: -8px;
    top: -14px;
    background-color: #2ecc71;
    color: white;
    display: inline-block;
    padding: 0 7px;
    border-radius: 4px;
    font-weight: 600;

}

#couponInput {
    width: 200px;
    display: inline-block;
}

#coupon-form {
    margin-top: 10px;
}

#billing-update-check .check-caption {
    text-align: center;
}

.inline-price {
    font-weight: bold;
}

.issue-filter-form label.control-label {
    display: block;
}

.issue-filter-form {
    vertical-align: top;
}
.issue-filter-form .td {
    vertical-align: top;
    padding-bottom: 40px;
}
.issue-filter-form h3 {
    margin-top: 0;
}
.issue-filter-type {
    padding-right: 20px;
}
.issue-filter-content {

}
.new-issue-filter-form .td {
    display: none;
    vertical-align: top;
    padding-top: 30px;
    padding-bottom: 0;
}
.issue-filter-buttons {
    margin-top: 8px;
    text-align: right;
}
.input-mono {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}
.btn-highlightable {
    border-color: #f39c12;
}
.btn-highlightable .fa{
    color: #1abc9c; 
}
.btn-highlightable[disabled] {
    border-color: #95a5a6;
    color: #bdc3c7;
}
.btn-highlightable[disabled] .fa{
    color: inherit;
}
