.kuollMousePointer {
    position: absolute;
    width: 16px;
    height: 25px;
    z-index: 100000;
    /* TODO vlad: no need to load such big icons since we scale them down anyway */
    background-image: url('//app.kuoll.com/resources/img/mouse_pointer.svg');
    background-size: 16px 25px;
}

.kuollMousePointerMain,
.kuollMousePointerClick {
    border-radius: 100%;
    z-index: 200000;
    background-image: url('//app.kuoll.com/resources/img/mouse_pointer_blue.svg');
}

.kuollHighlightingNode {
    background-color: rgba(52, 152, 219, .5);
    border: 3px solid rgba(41, 128, 185,.8);
    opacity: .5;
    position: absolute;
    z-index: 99999;
    margin: -3px;
    padding: 0;
    box-sizing: content-box;
}