.explained h2 {
    color: #16a085
}

h1 small {
    color: #eee;
}

.topBlock {
    background: url("/resources/img/people.jpg") no-repeat;
    background-size: cover;
    background-color: #34495e;
    height: 550px;
}

.priceColumns {
    text-align: center;
    margin: -250px 0 200px;
}

.priceColumn {
    width: 310px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px 10px;
    vertical-align: top;;
    box-shadow: 0 3px 6px gray;
    background-color: #ffffff;
}

.priceDefault {
    width: 333px;
    position: relative;
    top: -10px;
    box-shadow: 0 3px 20px gray;
    padding: 40px;
    z-index: 10;
    margin: 0 -10px;
}

.priceIcon {
    font-size: 92px;
    color: #16a085;
}

.price .amount {
    font-size: 48px;
    display: block;
}

.priceColumn:first-of-type {
    border-right-width: 0;
}

.priceColumn:last-of-type {
    border-left-width: 0;
}

#subscription-plan-select-wrapper {
    margin: 50px 0;
}