#recordsTable>thead {
    background-color: #7f8c8d;
    color: white;
    font-weight: bold;
}

#recordsTable>tbody>tr:hover {
    background-color: #ecf0f1;
}

#recordsTable>thead, #recordTable>tbody {
    width: 100%;
}

tr.clickable:hover {
    cursor: pointer;
}

tr.clickable:hover > td {
    background-color: #e9e9e9 !important;
}

tr.active > td {
    font-weight: bold;
}