/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    border: none;
  }
  
  .k-logo {
    height: 50px;
    width: 50px;
    float: left;
  }
  
  /* buttons in header */
  .btn.btn-white {
    color: #7f8c8d;
    background: 0 0;
    padding: 9px 20px;
    margin: 0 10px 0 0;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
  }
  
  .btn.btn-light {
    color: #fff;
    background: #27ae60;
    padding: 9px 20px;
    margin: 0 0 0 0;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    outline: 0;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
  }
  
  .btn.btn-light:hover {
    background-color: rgba(39, 174, 96,0.8);
    color: #fff;
  }
  
  .btn.btn-white:hover {
    background-color: #fff;
    text-decoration: underline;
  }
  
  .well {
    background-color: #ecf0f1;
    border-radius: 6px;
    box-shadow: none;
    padding: 20px;
  }
  
  hr {
    border-top: 1px solid rgba(189, 195, 199,0.3);
  }