<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bug reporting automation for better customer support and software development</title>
    <meta name="description" content="Bug reporting automation for better customer support and software development"/>
    <meta name="keywords"
          content="automated bug capturing, automated bug reporting, business web application, business software bugs, saas software costs"/>
    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="icon" sizes="192x192" href="/resources/img/cat.png">
    <meta name="msapplication-square310x310logo" content="/resources/img/cat.png">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ljfpdodjbnkpbaenppoiifjkdlhfjcgn">

    <link rel="canonical" href="http://conversionfixer.tk/">

    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="stylesheet" href="/resources/css/stages.css">
    <link rel="stylesheet" href="/resources/css/topnav.css">
    <link rel="stylesheet" href="/resources/css/footer.css">

    <meta name="theme-color" content="#16a085">
    <meta name="msapplication-navbutton-color" content="#16a085">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="geo.placename" content="New York, 33 W 17th, 2nd floor; 10011">
    <meta name="geo.region" content="United Stated of America">

    <style>
        html {
            background-color: #2c3e50;
        }

        body {
            color: #2c3e50;
            background-color: #ffffff;
        }

        .backBlue {
            background: url("/resources/img/dark_wood_@2X.png") repeat;
            background-repeat: repeat;
            background-color: #34495e;
            color: white;
            padding: 120px 0 36px;
            min-height: 700px;;
        }

        .k-logo img {
            height: 40px;
            margin-top: 8px;
        }

        .colorStripe {
            background-color: #2980b9;
            color: white;
            padding: 12px 0;
        }

        .colorStripe p {
            margin: 0;
        }

        .colorStripe .stripeText {
            margin-top: 8px;
            line-height: 21px;
        }

        .btn-whiter {
            color: #34495e;
            font-weight: 600;
            background-color: white;
        }

        .btn-whiter:hover {
            color: #2c3e50;
            background-color: #ecf0f1;
        }

        .explained {
            padding: 40px 0;
        }

        .explained h2 {
            color: #16a085
        }

        h1 small {
            color: #eee;
        }

        .jumbo h1 {
            font-size: 62px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 30px rgba(0, 0, 0, 0.75);
        }

        .jumbo .lead {
            font-size: 36px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 30px rgba(0, 0, 0, 0.75);
            margin-bottom: 48px;
        }

        .vertical {
            height: 100%;
            width: 5px;
            border-radius: 2px;
            background-color: #f0f0f0;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-top: 2px solid #f6f6f6;
            border-bottom: 2px solid #f6f6f6;
            position: absolute;
            left: 465px;
        }

        .timeline {
            width: 940px;
            margin: 20px auto;
            overflow: hidden;
            position: relative;
        }

        .step {
            border: 1px solid #bbbbbb;
            margin: 20px 0;
            padding: 10px 20px 20px;
            width: 457px;
            border-radius: 7px;
            position: relative;
            background-color: #ffffff;
        }

        .role1 {
            border-top-right-radius: 0;
        }

        .role2 {
            left: 483px;
            border-top-left-radius: 0;
        }

        .joint {
            width: 7px;
            height: 7px;
            border-radius: 3px;
            position: absolute;
            top: -4px;
            left: 463px;
            background-color: #cccccc;
            border: 1px solid #aaaaaa;
            z-index: 100;
        }

        .role2 .joint {
            left: -20px;
        }

        .connector {
            border-top: 1px solid #bbbbbb;

            position: absolute;
            top: -1px;
            left: 453px;
            width: 13px;
        }

        .role2 .connector {
            left: -13px;
        }

        .fa.stepIcon {
            margin: 20px 0 10px 10px;;
            font-size: 48px;
            float: right;
        }

        .role2 .stepIcon {
        }

        .vertical, .joint, .connector {
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
        }

        .spanLgx {
            display: inline-block;
            padding: 17px 0;
            vertical-align: middle;
            font-size: 40px;
            line-height: 36px;
        }

        .watchVideoLink {
            color: white;
            text-decoration: none;
            font-size: 32px;
            border-bottom: 2px solid rgba(255, 255, 255, .5);
        }

        .watchVideoLink:hover {
            color: white;
            text-decoration: none;
            border-bottom: 2px solid rgba(255, 255, 255, .75);
        }

        .text-right-md {
            text-align: right;
        }

        .pull-right-md {
            float: right;
        }

        @media (max-width: 639px) {
            .steaky-top {
                position: static;
                box-shadow: 0 0 13px gray;
            }

            .backBlue {
                padding-top: 20px;
            }

            .text-right-md {
                text-align: center;
            }

            .pull-right-md {
                float: none;
                display: table;
                margin-top: 8px;
            }

            .colorStripe .btn {
                float: none;
            }
        }

        @media (max-width: 991px) {
            .colorStripe p {
                margin-bottom: 12px;
            }
        }

        @media (max-width: 959px) {
            .timeline {
                padding-right: 48px;
                width: auto;
                max-width: 500px;
            }

            .vertical {
                left: 15px;
            }

            .joint {
                left: -20px;
            }

            .connector {
                left: -13px;
            }

            .step {
                left: 33px;
                border-top-left-radius: 0;
                border-top-right-radius: 4px;
                width: auto;
                max-width: 465px;
            }
        }

        /* for product hunt launch */

        #the-intro-bar {
            top: 64px;
        }
        #powered-by{
            visibility: hidden;
        }

        .explainations p, ul {
        }
        .explainations code {
            font-size: 78%;
        }
        h1 code {
            font-size: 84%;
            background-color: transparent;
            color: inherit;
            border: 0 none;
        }

        .orWatchVideo {
            font-size: 40px;
            /* text-shadow: 0 1px 6px white; */
            padding: 15px 0;
            color: white;
            line-height:36px;
            vertical-align:middle;
            color: #bdc3c7;
        }
        .orWatchVideo a {
            color: white;
            font-weight: 600;
            border-bottom: 2px solid white;
            text-decoration: none;
        }

    </style>

    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <script>
        var _intro_bar = window._intro_bar || {};(function() {var i,e;i=document.createElement("script"), i.type='text/javascript';i.async=1, i.src="//cdn.introbar.com/js/v1.js", e=document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i,e);})();
        _intro_bar.account_id = '582f0b93ccbe2';
    </script>
    <script src="//fast.wistia.com/embed/medias/5pdqe4teos.jsonp" async></script>
    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

</head>
<body style="padding-top: 66px;">

{{>topnav_minimum}}

<div class="backBlue jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h1>
                    Kill bugs which kill conversions
                </h1>

                <p class="lead" style="font-size: 52px;">
                    <span title='Short for "radical", bro'>Rad</span> app monitoring which alerts 
                    when a bug hits conversion drop threshold
                </p>

                <p class=" ">
                    <a 
                            class="btn btn-lgx btn-danger"
                            href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=5013105915.44840319781">
                        <i class="fa fa-slack slackIcon" aria-hidden="true"></i>
                        Sign in with <strong>Slack</strong>
                        <!--
                        <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" 
                        srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
                        -->
                    </a> 

               </p>

            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="text-align: center;">
            <img src="/resources/img/losing-customers-in-checkout-funnel.svg" style="max-width: 80em;">
            <h1>
                Bugs <span class="repel">drive customers off</span> on&nbsp;each step of checkout funnel
            </h1>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row" style="margin-top: 120px;">
        <div class="col-md-1 ">
        </div>

        <div class="col-md-5 ">
            <h2>Skip idle fixes</h2>
            <p>
                Kuoll connects javascript error reports with your checkout conversion funnel and user session duration. 
                Unless a JavaScript error affects conversion rate, the error stay in the low priority list.
                <br/>
                When a javascript error reaches hazardous conversion drop level then devepment team gets Slack alert about the error.
            </p>
        </div>
        <div class="col-md-5 ">
            <img src="/resources/img/red-or-blue.jpg" class="img-responsive">
        </div>
    </div>

    <div class="row" style="margin-top: 120px;">
        <div class="col-md-1 ">
        </div>
        <div class="col-md-5 " style="text-align: right;">
            <img src="/resources/img/kuoll-bug-detector-radar.gif" class="img-responsive">
        </div>

        <div class="col-md-5 ">
            <h2>Immediate detection</h2>
            <p>
                Kuoll continually monitors web application. When an error reaches a dangerous conversion drop threshold, 
                Kuoll will immediately send a Slack alert about the new critical error. 
            </p>
            <p>
                Even after a new release development team understands quality status of the production system.
                Feature adoption takes some time? No problem! 
                Focus on checkout funnel conversions allows Kuoll to triage issues on the fly.
            </p>
        </div>
    </div>


    <div class="row" style="margin-top: 120px;">
        <div class="col-md-1 ">
        </div>

        <div class="col-md-5 ">
            <h2>Debug-friendly session playback</h2>
            <p>
                Each Kuoll error report comes with debug-friendly user session, 
                where a developer can see what user did and what the page looked like.
            </p>
            <p>
                Unlike session playback tools, Kuoll provides complete XmlHttpRequest 
                network log with headers and content and system API calls trace. 
                It make Kuoll user sessions truly debug-friendly!
            </p>
        </div>
        <div class="col-md-5 ">
            <img src="/resources/img/debug-friendly.jpeg" class="img-responsive">
        </div>
    </div>


    <div class="row" style="margin-top: 120px; margin-bottom: 120px;">
        <div class="col-md-1 ">
        </div>

        <div class="col-md-5 " style="text-align: right;">
            <img src="/resources/img/screen-shot-kuoll-slack.png" class="img-responsive">
        </div>



        <div class="col-md-5 ">
            <h2>Less management, more done!</h2>
            <p>
                Bugbot by Kuoll Slack bot sends business-critical alerts only. Ask your developers to fix errors reported to the channel and forget about checking and triaging your js-errors dashboard!
            </p>

        </div>
    </div>

</div>

{{>footer}}

{{>scripts}}

</body>
</html>
