<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bug reporting automation for better customer support and software development</title>
    <meta name="description" content="Bug reporting automation for better customer support and software development"/>
    <meta name="keywords"
          content="automated bug capturing, automated bug reporting, business web application, business software bugs, saas software costs"/>
    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="icon" sizes="192x192" href="/resources/img/cat.png">
    <meta name="msapplication-square310x310logo" content="/resources/img/cat.png">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ljfpdodjbnkpbaenppoiifjkdlhfjcgn">

    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="stylesheet" href="/resources/css/stages.css">
    <link rel="stylesheet" href="/resources/css/topnav.css">
    <link rel="stylesheet" href="/resources/css/footer.css">

    <meta name="theme-color" content="#16a085">
    <meta name="msapplication-navbutton-color" content="#16a085">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <style>
        html {
            background-color: #2c3e50;
        }

        body {
            color: #2c3e50;
            background-color: #ffffff;
        }

        .backBlue {
            background: url("/resources/img/people.jpg") no-repeat;
            background-size: cover;
            background-color: #34495e;
            color: white;
            min-height: 960px;;
        }

        .k-logo img {
            height: 40px;
            margin-top: 8px;
        }

        .colorStripe {
            background-color: #1abc9c;
            color: white;
            padding: 12px 0;
            margin: 32px 0;
        }

        .colorStripe p {
            margin: 0;
        }

        .colorStripe .stripeText {
            margin-top: 12px;
            line-height: 21px;
        }

        .btn-whiter {
            color: #34495e;
            font-weight: 600;
            background-color: white;
        }

        .btn-whiter:hover {
            color: #2c3e50;
            background-color: #ecf0f1;
        }

        .explained {
            padding: 40px 0;
        }

        .explained h2 {
            color: #16a085
        }

        h1 small {
            color: #eee;
        }

        .jumbo h1 {
            font-size: 62px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 30px rgba(0, 0, 0, 0.75);
        }

        .jumbo .lead {
            font-size: 36px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 30px rgba(0, 0, 0, 0.75);
            margin-bottom: 48px;
        }

        .vertical {
            height: 100%;
            width: 5px;
            border-radius: 2px;
            background-color: #f0f0f0;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-top: 2px solid #f6f6f6;
            border-bottom: 2px solid #f6f6f6;
            position: absolute;
            left: 465px;
        }

        .timeline {
            width: 940px;
            margin: 20px auto;
            overflow: hidden;
            position: relative;
        }

        .step {
            border: 1px solid #bbbbbb;
            margin: 20px 0;
            padding: 10px 20px 20px;
            width: 457px;
            border-radius: 7px;
            position: relative;
            background-color: #ffffff;
        }

        .role1 {
            border-top-right-radius: 0;
        }

        .role2 {
            left: 483px;
            border-top-left-radius: 0;
        }

        .joint {
            width: 7px;
            height: 7px;
            border-radius: 3px;
            position: absolute;
            top: -4px;
            left: 463px;
            background-color: #cccccc;
            border: 1px solid #aaaaaa;
            z-index: 100;
        }

        .role2 .joint {
            left: -20px;
        }

        .connector {
            border-top: 1px solid #bbbbbb;

            position: absolute;
            top: -1px;
            left: 453px;
            width: 13px;
        }

        .role2 .connector {
            left: -13px;
        }

        .fa.stepIcon {
            margin: 20px 0 10px 10px;;
            font-size: 48px;
            float: right;
        }

        .role2 .stepIcon {
        }

        .vertical, .joint, .connector {
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
        }

        .spanLgx {
            display: inline-block;
            padding: 17px 0;
            vertical-align: middle;
            font-size: 40px;
            line-height: 36px;
        }

        .watchVideoLink {
            color: white;
            text-decoration: none;
            font-size: 32px;
            border-bottom: 2px solid rgba(255, 255, 255, .5);
        }

        .watchVideoLink:hover {
            color: white;
            text-decoration: none;
            border-bottom: 2px solid rgba(255, 255, 255, .75);
        }

        .text-right-md {
            text-align: right;
        }

        .pull-right-md {
            float: right;
        }

        @media (max-width: 639px) {
            .steaky-top {
                position: static;
                box-shadow: 0 0 13px gray;
            }

            .backBlue {
                padding-top: 20px;
            }

            .text-right-md {
                text-align: center;
            }

            .pull-right-md {
                float: none;
                display: table;
                margin-top: 8px;
            }

            .colorStripe .btn {
                float: none;
            }
        }

        @media (max-width: 991px) {
            .colorStripe p {
                margin-bottom: 12px;
            }
        }

        @media (max-width: 959px) {
            .timeline {
                padding-right: 48px;
                width: auto;
                max-width: 500px;
            }

            .vertical {
                left: 15px;
            }

            .joint {
                left: -20px;
            }

            .connector {
                left: -13px;
            }

            .step {
                left: 33px;
                border-top-left-radius: 0;
                border-top-right-radius: 4px;
                width: auto;
                max-width: 465px;
            }
        }

        /* for product hunt launch */

        #the-intro-bar {
            top: 64px;
        }
        #powered-by{
            visibility: hidden;
        }


    </style>

    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
        var _intro_bar = window._intro_bar || {};(function() {var i,e;i=document.createElement("script"), i.type='text/javascript';i.async=1, i.src="//cdn.introbar.com/js/v1.js", e=document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i,e);})();
        _intro_bar.account_id = '582f0b93ccbe2';
    </script>
    <script src="//fast.wistia.com/embed/medias/5pdqe4teos.jsonp" async></script>
    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

</head>
<body >

{{>topnav}}

<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">

<h1>Kuoll Demo Page</h1>

<p>
  Hi, this is a simple demo of Kuoll bug auto reporting technology. Kuoll records debuggable user sessions, automatically detects errors on the web pages and reports then to developers. This demo is simple input auto completion app. It has a bug, and you can find it, when this happens, the demo will show the link to the automatically created Kuoll bug report.
</p>

<p>To start, type banana, mango or kiwi to the input below.<p>


    </div>

  </div>
  <div class="row">


    <div class="col-xs-3"></div>

    <div class="col-xs-6">
      <input class="form-control " id="fruits"/>
    </div>


  </div>
</div>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>

{{>footer}}

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
$( function() {
   var availableTags = [
     "apple",
     "banana",
     "peach",
     "pear",
     "kiwi"
   ];
   $( "#fruits" ).autocomplete({
     source: availableTags
   });
 });
</script>
</body>
</html>
