<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error filters :: Kuoll</title>

    {{>inhead}}

    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>
    <link href="/resources/css/issues.css" rel="stylesheet">
    <link href="/resources/css/issues-dashboard.css" rel="stylesheet">
    <style>
        #issues-dashboard {
            min-height: 700px;
        }
        .issuesNumberInGroup {
            font-size: 48px;
            display: block;
            text-align: center;
            line-height: 1;
        }
        .centerText {
            text-align: center;
        }
    </style>

    <link type="text/css" rel="STYLESHEET" href="/resources/css/settings.css"/>
    <link type="text/css" rel="STYLESHEET" href="/resources/css/kuollSupport.css">


</head>
<body class="supportsKuoll">


<div id="header"></div>

<div id="page-wrapper" class="container">
    <div class="row">
        <div class=" col-md-12 ">
            <div id="errorFilters" class="tab-pane active">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html>