<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Issues dashboard</title>

    {{>inhead}}

    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>
    <link href="/resources/css/issues.css" rel="stylesheet">
    <link href="/resources/css/issues-group.css" rel="stylesheet">
</head>
<body class="supportsKuoll">

<div id="header"></div>

<div id="issues-group"></div>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html>