<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bug reporting automation for better customer support and software development</title>
    <meta name="description" content="Bug reporting automation for better customer support and software development"/>
    <meta name="keywords"
          content="automated bug capturing, automated bug reporting, business web application, business software bugs, saas software costs"/>

{{>inhead}}

    <link rel="stylesheet" href="/resources/css/landing.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <link rel="stylesheet" href="/resources/libs/morphext/morphext.css">
    <link rel="stylesheet" href="/resources/libs/animate.css">

    <link rel="canonical" href="https://www.kuoll.com/">

    <script>
        var _intro_bar = window._intro_bar || {};(function() {var i,e;i=document.createElement("script"), i.type='text/javascript';i.async=1, i.src="//cdn.introbar.com/js/v1.js", e=document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i,e);})();
        _intro_bar.account_id = '582f0b93ccbe2';
    </script>
    <script src="//fast.wistia.com/embed/medias/5pdqe4teos.jsonp" async></script>
    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>


</head>
<body class="">

{{>topnav}}

<main class=" landingWithScreenshots ">
<div class="backBlue jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 " style="text-align: center;">
                <h1 style="" class="cd-headline rotate-1">
                    Get 
                    <span class="js-rotating" id="js-rotating">user session, DOM-mutations, network request,
                        remote script execution</span>,<br/> not just stack traces
                </h1>
                <style>
                    .getWhat {
                        display: relative;
                    }
                    .getWhatOption {
                        transition: all 0.5s ease-in-out;
                        position: absolute;
                        display: inline-block;
                        overflow: hidden;
                    }
                    .getWhatOptionHidden {
                        height: 0;
                    }
                </style>
                

                <p class="lead  ">
                    Increase conversions with automatic <br/>
                    error detection and prioritization 
                </p>

                <p class=" ">
                    <a href="/signup.html" class="btn btn-greenSea  btn-greenSeaInverted btn-lgx ">
                        Get started
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                    <span class='orWatchVideo '>
                        or
                        <script src="https://fast.wistia.com/embed/medias/21owcwity4.jsonp" async></script>
                        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                        <span class="wistia_embed  wistia_async_21owcwity4 popover=true popoverContent=link " style="">
                            <a href="#" class="watch">
                                Watch video 
                            </a>
                        </span>
                    </span>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="section sectionLight sectionWithImg">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 " >
                <h3>1. Detect</h3>
                <p>
                    Get Slack alert 
                    on new errors immediately
                    after new release. With errors
                    smartly merged and filtered.
            </div>
            <div class="col-md-8 " >
                <img class="img-responsive imgLandingShot imgShadow"
                    src="/resources/img/screenshots/detect.png">
            </div>
        </div>
    </div>
</div>

<div class="section sectionAsphalt sectionWithImg">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 " style="float: right;">
                <h3>2. Triage</h3>
                <p>
                    Kuoll shows how many users are affected by
                    specific bugs.
                    Understand the impact of each bug within
                    minutes of new release.
                </p>
            </div>
            <div class="col-md-8 "  style="float: right;">
                <div class=" imgLandingShot darkBgImgLandingShot" >
                    <div class="">
                        <img class="img-responsive  imgShadow"
                            src="/resources/img/screenshots/triage.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section sectionLight sectionWithImg">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 " style="text-align: right;">
                <h3>3. Debug</h3>
                <p>
                    Kuoll user session record contains:
                </p>
            </div>
            <div class="col-md-6 " >
                <div class="imgLandingShot">
                    <span class="tetherLabel" id="tetherUserActions" style="color: #16a085;">User generated actions</span>
                    <span class="tetherLabel" id="tetherDomMutations" style="color: #2980b9;">Web page changes (DOM mutations)</span>
                    <span class="tetherLabel" id="tetherNetwork" style="color: #8e44ad;">Network request</span>
                    <span class="tetherLabel" id="tetherExecution" style="color: #c0392b;">JavaScript execution</span>
                    <img class="img-responsive imgShadow" id="tetherDebugImage"
                        src="/resources/img/screenshots/debug.png">
                </div>               
            </div>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-4 col-sm-6" >
            <div>


            <h3>
                Debug-friendly <code>{}</code>
            </h3>
            <p>
                Kuoll makes in painless to fix bugs in web application.

                Kuoll error reports contain:
                <ul>
                    <li>browser events</li>
                    <li>DOM mutations</li>
                    <li>XmlHttpRequests content</li>
                    <li>(async) script execution</li>
                </ul>

            </p>
                        

            </div>
        </div>
        <div class="col-md-4 col-sm-6" >
            <div>
                <h3>
                    Noise-free
                    <span class="fa-stack fa-lg" style="font-size: .65em;">
                        <i class="fa fa-volume-up fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>                
                </h3>
                <p>
                    Kuoll calculates
                    how each error affects your users conversion rates.
                    Kuoll, being connected to you analytics data, prioritizes and triages errors
                    based on your business performance indicator. 
                </p>
            </div>
        </div>
            
        <div class="col-md-4 col-sm-6" >
            <h3>
                Slack-first 
                <i class="fa fa-slack"></i> 
            </h3>
            <p>
                When a new version your software reaches production, 
                Kuoll is here to detect new bugs and errors.
                Kuoll alerts Slack dev team channel about new business-critical errors. 
            </p>
        </div>
    </div>
</div>


<div class="container section">
    <div class="row">
        <div class="col-sm-12">
            {{>stages}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
            <p class=" " style="margin-top: 60px;">
                <a href="/signup.html" class="btn btn-greenSea btn-lgx btn-block">
                    Get started free
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/remote.jpg" >
                <h3>Remote debug</h3>
                <p>access end user browser</p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/authentics.jpg" >
                <h3>Authentic</h3>
                <p>debug end user debug data</p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/chat-bot.jpg" >
                <h3>Chat-bot</h3>
                <p>for Slack</p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/alarm.jpg" >
                <h3>Alarm</h3>
                <p>Learn about </p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/dom-mutations.jpg" >
                <h3>DOM-mutations</h3>
                <p>show when DOM changed</p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/javascript-chain.jpg" >
                <h3>JavaScipt chains</h3>
                <p>of calls and events</p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/network.jpg" >
                <h3>Network requests</h3>
                <p>with content and headers</p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/flying.jpg" >
                <h3>Flies fast</h3>
                <p> and low-mem</p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/no-spam.jpg" >
                <h3>No spam</h3>
                <p>minor errors are off</p>
            </div>
            <div class="featureBox">
                <img class="featureImg" src="//app.kuoll.com/resources/img/features/easy-to-install.jpg" >
                <h3>Easy to install</h3>
                <p>and get started</p>
            </div>
            
            <style>
            .featureImg {
                max-width: 100%;            
            }
            .featureBox {
                max-width: 33%;
                text-align: center;
                display: inline-block;
            }
            .featureBox h3 {
                margin-bottom: 0;
            }
            .featureBox {
                padding-bottom: 40px;
            }
            .bgImage{
                display: inline-block;
                width: 320px;
                background-image: url("//app.kuoll.com/resources/img/features/remote.jpg");
                background-position: center;
                height: 320px;
                background-size: 200% 200%;
            }
            </style>
        </div>
    </div>
</div>

<div class="sectionAsphalt">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h2>Privacy and sensitive data</h2>
                <p>
                    Kuoll highly respects customer and end user privacy. 
                    We do not sell and do not transfer our customer or end user data to third parties.
                </p>

                <p>
                    To exclude private user data from the record, please list
                    the private XHR URLs in the 
                    <code>ignoreUrls</code> parameter of the Kuoll API <code>startRecord</code>
                    function.
                </p>

                <p>
                    See Kuoll <a href="/acceptable-use-policy.html">acceptable use</a> 
                    and <a href="/privacy-policy.html">privacy policy</a>
                    for more details.
                </p>

                <p>
                    The ultimate solution to the privacy question is on-premise deployment.
                    You can host Kuoll on your own servers in your secured environment.
                    To get a quote, please contact 
                    <a href="mailto:onpremise@kuoll.com">Kuoll on-premise sales</a>.
                </p>

            </div>
        </div>
    </div>
</div>

{{>footer}}

</main>

{{>scripts}}

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/resources/libs/morphext/morphext.js"></script>
<script>
$(function() {
    $("#js-rotating").Morphext({
        // The [in] animation type. Refer to Animate.css for a list of available animations.
        animation: "fadeInDown",
        // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
        separator: ",",
        // The delay between the changing of each phrase in milliseconds.
        speed: 4000,
        complete: function () {
            // Called after the entrance animation is executed.
        }
    });
})
</script>

</body>
</html>