<!DOCTYPE html>
<html>
<head>
    <title>Get Kuoll &ndash; Sign in</title>
    <script>
        if (document.location.host !== "localhost:9000" &&
            document.location.host !== "local.kuoll.com:9000" &&
            window.location.protocol !== "https:") {
                window.location.protocol = "https";
        }
    </script>

    {{>inhead}}

    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="stylesheet" href="/resources/css/onboard.css">
    <link rel="stylesheet" href="/resources/css/internal.css">

    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">

    <style>
        .onboard {
            display: block;
            top: 0 !important;
        }
        .closeFullscreenModal {
            display: none;
        }

    </style>


</head>
<body>

<div id="header"></div>

<main class="pageScrollOverflowY">
</main>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>

</body>
</html>