<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Team users</title>

    {{>inhead}}

    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>
    <link href="/resources/css/issues.css" rel="stylesheet">
    <link href="/resources/css/issues-dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/tables.css">
    <link rel="stylesheet" href="/resources/css/settings.css">
    <style>
        #issues-dashboard {
            min-height: 700px;
        }
        .issuesNumberInGroup {
            font-size: 48px;
            display: block;
            text-align: center;
            line-height: 1;
        }
        .centerText {
            text-align: center;
        }
    </style>

</head>
<body class="supportsKuoll">

<div id="header"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div id="tabs-wrapper" class="tab-content">
                <div class="tab-pane active">
                    <div id="org-view">
                        <h2 id="main-caption" style="text-align: center;">
                            <i class="fa fa-spinner fa-pulse"></i> Loading teams and users...
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        {{>settingsNav}}

    </div>
</div>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html>