<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    
    <title>Kuoll Partner Program</title>
    <link rel="canonical" href="https://www.kuoll.com/partnership.html">

    {{>inhead}}

    <link rel="stylesheet" href="/resources/css/landing.css">

</head>
<body class="">

{{>topnav}}

<main class="pageScrollOverflowY">

<div class="container">

    <div class="jumbotron installation">
        <h1>Kuoll Partner Programm</h1>
        <h2>Apply today to become a Kuoll Partner and earn up to 30% revenue share for the life of the account.</h2>
        <p><a class="btn btn-lg btn-success" href="mailto: corp@kuoll.com" role="button">Contact Us</a></p>
    </div>

      
    <div class="row marketing">
        <div class="col-lg-6">
          <h4>How does it work?</h4>
          <p>Sign up to partner programm and recommend Kuoll to your to stores that you support.</p>

          <h4>Who are we looking for?</h4>
          <p>Anyone from large agencies to individual freelancers – people that are passionate about helping businesses.</p>

          <h4>How do I get paid?</h4>
          <p>We'll distribute your payments once a month via PayPal or bank transfer.</p>
        </div>

        <div class="col-lg-6">
          <h4>How do I promote Kuoll?</h4>
          <p>After signing up to partner programm we will provide you with materials that you can use to promote Kuoll</p>

          <h4>Do I get paid for free accounts?</h4>
          <p>We don't pay commissions for free accounts but you will get paid once they upgrade!</p>

          <h4>How do I get started?</h4>
          <p>Click <a class="text-color" href="mailto: corp@kuoll.com">Contact Us</a> button and we will get in touch with you.</p>
        </div>
    </div>

</div>

{{>footer}}

</main>

{{>scripts}}

</body>
</html>