<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Post editing</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/resources/img/cat.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/css/flexslider/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/resources/css/velocity/styles.css">

    <link rel="stylesheet" href="/lib/css/trumbowyg/trumbowyg.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/Alex-D/Trumbowyg/2.0.0-beta.7/dist/plugins/colors/ui/trumbowyg.colors.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/Alex-D/Trumbowyg/2.0.0-beta.7/dist/plugins/preformatted/ui/trumbowyg.preformatted.min.css">
</head>

<body class="resetpass-page access-page has-full-screen-bg">
<div class="upper-wrapper">

    {{>partials/blog-header}}

    <section class="access-section section">
        <div class="container">
            <div class="row">
                <div class="form-box col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 xs-offset-0">
                    <div class="form-box-inner">
                        <h2 class="title text-center">Post editing</h2>
                        <div class="row">
                            <div class="form-container">
                                <form class="post-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="post-title">Title</label>
                                        <input id="post-title" type="text" class="form-control post-title" placeholder="Title" value="{{post.title}}">
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <label class="sr-only" for="post-author-name">Author name</label>
                                        <input id="post-author-name" type="text" class="form-control post-author-name" placeholder="Author name" value="{{post.authorName}}">
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <label class="sr-only" for="post-author-url">Author url</label>
                                        <input id="post-author-name" type="text" class="form-control post-author-url" placeholder="Author url (twitter, email, etc.)" value="{{post.authorUrl}}">
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <label class="sr-only" for="post-image">Image url</label>
                                        <input id="post-image" type="text" class="form-control post-image" placeholder="Image url" value="{{post.imgUrl}}">
                                    </div><!--//form-group-->
                                    <div class="checkbox featured">
                                        <label>
                                            <input type="checkbox" id="post-featured" value="{{post.featured}}"> Featured? (Post will be shown on the top of blog page)
                                        </label>
                                    </div><!--//checkbox-->
                                    <p class="lead">Use <code>{intro-cut}</code> to divide intro and main content.</p>
                                    <div class="form-group">
                                        <label class="sr-only" for="post-content">Post text</label>
                                        <textarea id="post-content" class="post-content" cols="80" rows="50" placeholder="Post text">{{&post.intro}}{{#post.intro}}{intro-cut}{{/post.intro}}{{&post.content}}</textarea>
                                    </div><!--//form-group-->
                                    <button type="submit" class="btn btn-block btn-cta-primary">
                                        <i class="fa fa-spinner fa-pulse" id="saving-spinner" style="display: none"></i>
                                        Save
                                    </button>
                                </form>
                                <p class="lead text-center">Take me back to the <a href="/blog">blog</a> page</p>
                            </div><!--//form-container-->
                        </div><!--//row-->
                    </div><!--//form-box-inner-->
                </div><!--//form-box-->
            </div><!--//row-->
        </div><!--//container-->
    </section>

</div><!--//upper-wrapper-->

{{>partials/footer}}

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html>

