<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Install to Web App</title>
    <link rel="canonical" href="https://www.kuoll.com/docs/">


    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="STYLESHEET" href="/resources/css/common.css"/>
    <link type="text/css" rel="STYLESHEET" href="/resources/css/topnav.css"/>
    <link type="text/css" rel="STYLESHEET" href="/resources/css/footer.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>

    <style>
        .ifNotLogged {
        }

        .ifLogged {
            display: none;
        }

        .customerId, .userId {
            cursor: pointer;
            border-bottom: 2px dotted black;
            padding-bottom: 1px;
        }

        #nav-menu {
            position: fixed;
            top: 108px;
        }

        #nav-menu ul li {
            margin-left: 20px;
        }

        #nav-menu li {
            cursor: pointer;
        }

        .navigated {
            color: #2ecc71;
            background-color: #cfc;

        }

        h2, h3 {
            transition: background-color 0.5s;
        }

        code {
            font-size: 13px;
            line-height: 1.42857143;
            word-break: break-all;
            word-wrap: break-word;
            color: #34495e;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        h2 {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        h2, h3 {
            color: #2ecc71;
        }

        h1 {
            color: #16a085
        }

    </style>
</head>
<body>

{{>topnav}}

    <div class="container docsContainer" style="" >
        <div class="row docsRow" style="display: flex;">
            <div class="col-md-4" style="background-color: #34495e">
                <ul class="nav sidebar-nav docsNav">
                    <li>
                        <h3>Fundamentals</h3>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/dev-guide-monitoringjs/">Adding monitoring.js to your site</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/how-user-sessions-recording-works/">How user session recording works</a>
                    </li>                
                    <li>
                        <a href="//www.kuoll.com/how-monitoringjs-works/">How monitoring.js works</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/starting-and-stoping-user-record/">Starting and stopping record</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/saving-user-session/">Saving user session</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/private-web-page-parts/">Ignoring private web page parts</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/private-xmlhttprequest-urls/">Ignoring XmlHttpRequest URLS</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/silent-mode/">Silent mode</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/custom-meta-data/">Custom meta data</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/remote-debug-cheat-sheet/">Debug UI cheat sheet</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/opt-out/">User opt-out</a>
                    </li>
                    <li>
                        <h3>Solutions</h3>                        
                    </li>
                    <li>
                        <a href="//www.kuoll.com/single-page-application/">Single page application</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/recording-frames-iframes/">Frames and Iframes</a>
                    </li>
                    <li>
                        <h3>Resources</h3>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/indexeddb-localstorage-usage/">IndexedDB and localStorage usage</a>
                    </li>
                    <li>
                        <a href="//www.kuoll.com/user-recordings-limits/">Limits and Quotas</a>
                    </li>

                </ul>
            </div>
    
    
        <div class="col-md-8" role="main" style="margin-left: -15px; padding-right: 0;">
            <div class="right-docs-column-title">
                <div class="right-docs-column-width">

                        <h1>Welcome to the Kuoll API</h1>

                        <p>These docs describe how to install and use Kuoll.</p>

                </div>
            </div>

            <div class="right-docs-column-content">
            <div class="right-docs-column-width">



            <h2 id="recording-on">Step 1: Add Script to a Web App</h2>

            <p>Copy and paste the code below to the bottom of web pages of your web application.
                In some rare occasion you will need to debug the process of loading
            </p>

            {{>installScript}}

            <p>
                <small>This code includes your unique Kuoll API key, and should be copied directly into your code.</small>
            </p>

            <div>
                <h3>startRecord parameters</h3>

                <p>
                    <samp>kuoll("startRecord", params)</samp> creates new or continues existing record. Most popular
                    parameters are listed below.
                </p>
                <table class="table table-">
                    <thead>
                    <tr>
                        <th>
                            Parameter
                        </th>
                        <th>
                            Default
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><samp>API_KEY</samp>
                        </td>
                        <td><samp>""</samp>
                        </td>
                        <td>
                            API key of your Kuoll account. <strong>Required</strong>.
                        </td>
                    </tr>
                    <tr>
                        <td><samp>userId</samp>
                        </td>
                        <td><samp>"1"</samp>
                        </td>
                        <td>
                            User id in your system, searchable from Records page.
                        </td>
                    </tr>
                    <tr>
                        <td><samp>userEmail</samp>
                        </td>
                        <td><samp>""</samp>
                        </td>
                        <td>
                            User email, searchable from Records page.
                        </td>
                    </tr>
                    <tr>
                        <td><samp>ignoreUrls</samp>
                        </td>
                        <td><samp>[""]</samp>
                        </td>
                        <td>
                            XHR requests to <samp>ignoreUrls</samp> URL patterns will be ignored.
                        </td>
                    </tr>
                    <tr>
                        <td><samp>notes</samp>
                        </td>
                        <td><samp>""</samp>
                        </td>
                        <td>
                            User-provided notes. Might be a text of problem description
                        </td>
                    </tr>
                    <tr>
                        <td><samp>createIssueOn</samp>
                        </td>
                        <td>
                            <samp>
                                {"error": true, "consoleError": true, "serverError": true}
                            </samp>
                        </td>
                        <td>
                            Create issue (and persist current record) on JavaScript <samp>Error</samp>, <samp>console.error</samp>
                            logging, server XHR <samp>4XX</samp> and <samp>5XX</samp> response.
                        </td>
                    </tr>
                    <tr>
                        <td><samp>saveStaticResources</samp>
                        </td>
                        <td><samp>false</samp>
                        </td>
                        <td>
                            Save a copy of js and css files with a record. Might affect network performance.
                        </td>
                    </tr>
                    <tr>
                        <td><samp>localRecording</samp>
                        </td>
                        <td><samp>true</samp>
                        </td>
                        <td>
                            Defer saving record on server until <samp>createIssue</samp> called.
                        </td>
                    </tr>
                    </tbody>

                </table>

                <p>
                    Here your can find <a href="/js-doc/module-kuollAPI.html#.startRecord">complete Kuoll API module
                    documentation</a>.
                </p>

            </div>


            <h2 id="create-issue">Step 2: (Optional) Save Record on User Support Requests</h2>

            <p>On user support request please call <samp>kuoll("createIssue", ..)</samp>.
                <samp>createIssue</samp> method saves debuggable current user session to server and creates a new issue
                entry.
                The default duration of a recorded user session is 3 minutes.
            </p>

            <p>Kuoll script also creates issues on JavaScript exceptions (<code>Error</code>s),
                when server XHR returns error reply (HTTP status 4xx or 5xx) and
                when your web app is logging using the <code>console.error</code> method. <br/>
                You can control it with <code>createIssueOn</code> parameter of <code>kuoll('createIssue', {createIssueOn:{...}}</code>.
                Find detailed description is the table above.
            </p>

            <p>Connect your <a href="/settings.html#slack">Slack</a> account to get new issues notifications.

                Find a list of created <a href="/issues-dashboard.html">issues here</a>.
            </p>




            <h2 id="inspect-record">Congratulations! Inspect Recorded Bugs Reports</h2>

            <p>
                Your first record appeared on the <a href="/issues-dashboard.html">issues page</a>.
                You can also connect with the <a href="/settings.html#slack">Slack</a> channel for notifications of new issues.

            </p>

            <p class="lead">
                <a href="/signup.html" class="btn btn-greenSea btn-lg ">Sign up &amp; get API key</a>
                or try <a href="http://jsbin.com/nusehuwisa/edit?html,output">jsbin sandbox app</a>
            </p>

            </div>
        </div><!-- right content -->
    </div><!-- right col -->
    </div><!-- container -->
</div><!-- flexbox -->



<style>
.docsNav > li > a{
    padding: 10px 0;
}

.docsNav 
{
    width: 80px;
    min-width: 240px;
    margin: 22px auto;
    color: white;
    font-weight: 500;
}


.docsContainer li a, .docsContainer li a:hover, .docsContainer li a:active, .docsContainer li a:focus {
 color: white;
 background-color: transparent;
}

.right-docs-column-title h1 {
    color: white;
}
.right-docs-column-title {
 background-color: #16a085;
 color: white;
}
.right-docs-column-width {
 padding: 30px 30px ;
 sh-width: 787px
}
.right-docs-column-width h1 {
 padding: 0.25em 0 ;
 margin: 0;
}
</style>

{{>footer}}

{{>scripts}}

</body>
</html>