<!DOCTYPE html>
<html>
<head lang="en">
    <title>Contact Information</title>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/topnav.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
</head>
<body style="padding-top: 200px;">

{{>topnav}}

<div class="container">
    <div class="row" style="">

        <h1>Refund</h1>

        <p>
        <form action='https://www.2checkout.com/checkout/purchase' method='post'>
            <input type='hidden' name='sid' value='103097515' />
            <input type='hidden' name='mode' value='2CO' />
            <input type='hidden' name='li_0_type' value='product' />
            <input type='hidden' name='li_0_name' value='Monthly Subscription' />
            <input type='hidden' name='li_0_price' value='79.00' />
            <input type='hidden' name='li_0_recurrence' value='1 Month' />
            <input name='submit' type='submit' class="btn btn-default" value='Checkout' />
        </form>

        <h2>Delivery Policy</h2>
        <p>
            If you are not 100% satisfied with your purchase, you may contact us within 120 days from the purchase date and we will provide a full refund of your purchase.
        </p>

    </div>
</div>

<div style="padding-top: 100px; ">
    &nbsp;
</div>

{{>footer}}

{{>scripts}}

</body>
</html>