<!DOCTYPE html>
<html>
<head>
    <title>Request a Kuoll Demo </title>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
            padding-top: 33px;
        }

        footer {
            position: absolute;
            height: 60px;
            padding-left: 1em;
            padding-right: 1em;
            bottom: 0;
            width: 100%;
        }

        #formContainer {
            text-align: center;
        }

        #formHeader {
            margin-right: -2em;
        }

        #feedbackForm {
            max-width: 640px;
            margin: 0 auto;
            text-align: left;
        }
        .messageBox {
            display: none;;
        }

    </style>
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="stylesheet" href="/resources/css/topnav.css">
    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">


</head>
<body>

<div class="knav-row">
    <div class="knav-width">
        <div class="k-logo">
            <a href="/"><img src="/resources/img/cat.png" style=""> </a>
        </div>

        <div id="k-links" class="k-right">
            <!--<div class="k-link">-->
            <!--<a href="http://blog.kuoll.com/">Blog</a>-->
            <!--</div>-->
            <div class="k-default">
                <a class="" href="/request-demo.html">Request demo</a>
            </div>
            <div class="k-link">
                <a href="/login.html">Login</a>
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>
</div>

<div class="container">
    <div class="row" id="formContainer">
        <form id="feedbackForm" role="form" method="post">
            <h1 id="formHeader">Report issue
                <br/>
            </h1>

            <div class="form-group" title="">
                <label for="nameField" class="sr-only">Name</label>
                <input id="nameField" type="text" class="form-control input-lg" placeholder="Name"/>
            </div>

            <div class="form-group" title="">
                <label for="companyField" class="sr-only">Company</label>
                <input id="companyField" type="text" class="form-control input-lg" placeholder="Company"/>
            </div>

            <div class="form-group" title="">
                <label for="emailField" class="sr-only">Email</label>
                <input id="emailField" type="email" class="form-control input-lg" placeholder="Email" value="{{userEmail}}"/>
            </div>

            <div class="form-group" title="">
                <label for="messageField" class="sr-only">Message</label>
                <textarea id="messageField" class="form-control input-lg" placeholder="Message"
                          rows="6" style=" resize: vertical;"
                        ></textarea>
            </div>

            <div id="errorMessageBox" class="alert alert-danger messageBox" role="alert"></div>
            <div id="successMessageBox" class="alert alert-success messageBox" role="alert">
                Thanks for your feedback!
            </div>

            <div class="form-group">
                <button id="formSubmit" type="submit" class="btn btn-lg btn-primary btn-block"><i
                        class="fa fa-rocket"></i> Report an issue
                </button>
            </div>
        </form>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="pull-right">
                <a href="/login.html">Log in</a> if you already have an account or <a href="/why-use-kuoll.html">Learn
                more</a>.
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>

</body>
</html>