<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Issues dashboard :: Kuoll</title>

    {{>inhead}}

    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>
    <link href="/resources/css/issues.css" rel="stylesheet">
    <link href="/resources/css/issues-dashboard.css" rel="stylesheet">
    <style>
        #issues-dashboard {
            min-height: 700px;
        }
        .issuesNumberInGroup {
            font-size: 48px;
            display: block;
            text-align: center;
            line-height: 1;
        }
        .centerText {
            text-align: center;
        }
    </style>

    <link type="text/css" rel="STYLESHEET" href="/resources/css/settings.css"/>
    <link type="text/css" rel="STYLESHEET" href="/resources/css/kuollSupport.css">


</head>
<body class="supportsKuoll">


<div id="header"></div>

<div id="page-wrapper" class="container">
    <div class="row">
        <div class=" col-md-9 ">
            <div id="tabs-wrapper" class="tab-content">
                <div id="tab-slack" class="tab-pane active">
                    <h1>Connect Slack</h1>

                    <div class="alert alert-success" role="alert" style="display: none">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span id="slack-success-msg"></span>
                    </div>
                    <div class="alert alert-success" role="alert" style="display: none">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span id="slack-error-msg"></span>
                    </div>

                    <div id="slack-setup-finished" style="display: none;">

                        <div class="alert alert-success" role="alert">
                            Bugbot by Kuoll is successfully added to your Slack.
                        </div>

                        <form class="form-horizontal">
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <h3>Automatic Issues</h3>
                                    <p>Automatic issues are created on javascript exceptions and 
                                        <strong title="HTTP status 400 and more">error</strong> server replies.
                                        Kuoll counts JavaScript issues with the same stack trace as duplicates. 
                                    </p>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="whenSendAutoIssue" id="whenSendAutoIssueFirstTimeOnly" value="firstTimeOnly" checked>
                                            Alert only the first time new issue happens
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="whenSendAutoIssue" id="whenSendAutoIssueEachTime" value="eachTime" >
                                            Alert on each error, <span style="color: #c0392b;">not recommended for production use</span>.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <h3>Manual issues</h3>
                                    <p>Manual issues are created using 
                                        <a href="https://www.kuoll.com/saving-user-session/">Kuoll JS API</a>.
                                        Most often, it's user-reported issues.
                                    </p>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="sendManualIssuesToSlack"> Send manual issues to Slack
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <button class="btn btn-default" id="slack-detach">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Disable Bugbot
                        </button>
                    </div>

                    <div id="slack-setup">
                        <p>
                            Add Bugbot by Kuoll to your Slack and we will
                            notify you about <strong>new</strong> problems in your web application.
                        </p>

                        <div class="alert alert-info" role="alert">
                            Release your software often and immediately learn
                            if there are any new issues!
                        </div>
                             

                        <p>
                            <a id="slack-btn" target="_blank">
                                <img alt="Add to Slack" height="40" width="139"
                                    src="https://platform.slack-edge.com/img/add_to_slack.png"
                                    srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/>
                            </a>
                        </p>
                    </div>
                </div>

                <div id="tab-telegram" class="tab-pane">
                    <h1>Telegram Integration</h1>

                    <div class="alert alert-success" role="alert" style="display: none">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span id="telegram-success-msg"></span>
                    </div>
                    <div class="alert alert-success" role="alert" style="display: none">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span id="telegram-error-msg"></span>
                    </div>

                    <div id="telegram-setup-finished" style="display: none;">

                        <div class="alert alert-success" role="alert">
                            Bugbot by Kuoll is successfully added to your Telegram.
                        </div>

                        <form class="form-horizontal">
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <h3>Automatic Issues</h3>
                                    <p>Automatic issues are created on javascript exceptions and
                                        <strong title="HTTP status 400 and more">error</strong> server replies.
                                        Kuoll counts JavaScript issues with the same stack trace as duplicates.
                                    </p>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="telegramNotifyOnEveryJsError" id="telegramNotifyOnEveryJsErrorFalse" value="false" checked>
                                            Send a message only the first time issue happens
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="telegramNotifyOnEveryJsError" id="telegramNotifyOnEveryJsErrorTrue" value="true" >
                                            Send a message each time (even for duplicate issues)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <h3>Manual Issues</h3>
                                    <p>Manual issues are end-user reported issues.
                                    </p>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="telegramNotifyOnManualIssues"> Send manual issues to Telegram
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <button class="btn btn-default" id="telegram-detach">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Disable Bugbot
                        </button>

                    </div>                                                           

                    <div id="telegram-setup">
                        <p>
                            Add Bugbot by Kuoll to your Telegram and we will
                            notify you about <strong>new</strong> problems in your web application.
                        </p>

                        <div class="alert alert-info" role="alert">
                            Release your software often and immediately learn
                            if there are any new issues!
                        </div>


                        <p>
                            <a id="telegram-btn" target="_blank">
                                <button class="btn btn-primary">Add bot to Telegram</button>
                            </a>
                        </p>
                    </div>

                </div>

                <div id="tab-issue-filtering" class="tab-pane">
                </div>

                <div id="tab-billing" class="tab-pane">
                </div>

                <div class="tab-pane" id="tab-security">
                    <h1>Security</h1>

                    <form id="email-change-form">
                        <div class="alert alert-success" id="email-change-alert" role="alert"
                             style="display: none;"></div>
                        <div class="form-group">
                            <label>
                                New email:
                                <input type="text" placeholder="Enter email" class="form-control" id="email-fld"/>
                            </label>
                            <span class="help-block" id="email-change-msg"></span>
                        </div>
                        <div class="form-group" id="password-form-group" style="display: none;">
                            <p>You signed up with <span class="registration-source"></span>. After email changing your Kuoll account will be decoupled
                                from your <span class="registration-source"></span> account, so you need to choose a password.</p>
                            <label>
                                Password:
                                <input type="password" class="form-control" id="password-fld"/>
                            </label>
                            <span class="help-block" id="password-msg"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Update email"/>
                        </div>
                    </form>

                    <form id="password-change-form" style="display: none;">
                        <div class="alert alert-success" id="password-change-alert" role="alert"
                             style="display: none;"></div>
                        <div class="form-group">
                            <label>
                                New password:
                                <input type="password" placeholder="New password" class="form-control" id="new-password-fld"/>
                            </label>
                            <span class="help-block" id="new-password-msg"></span>
                        </div>
                        <div class="form-group">
                            <label>
                                New password again:
                                <input type="password" placeholder="New password (again)" class="form-control" id="new-password-repeat-fld"/>
                            </label>
                            <span class="help-block" id="new-password-repeat-msg"></span>
                        </div>
                        <div class="form-group">
                            <label>
                                Old password:
                                <input type="password" placeholder="Old password" class="form-control" id="old-password-fld"/>
                            </label>
                            <span class="help-block" id="old-password-msg"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Update password"/>
                        </div>
                    </form>
                </div>

                <div id="tab-invite" class="tab-pane">

                </div>

                <p> </p>

            </div>
        </div>

        {{>settingsNav}}

    </div>
</div>


<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html>