<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kuoll support :: Bug fixing and software development re-engineer</title>
    <meta name="description" content="Bug reporting automation for better customer support and software development"/>
    <meta name="keywords"
          content="automated bug capturing, automated bug reporting, business web application, business software bugs, saas software costs"/>
    
{{>inhead}}

    <link rel="canonical" href="https://www.kuoll.com/support.html">
    <link rel="stylesheet" href="/resources/css/landing.css">
    <script>
        var _intro_bar = window._intro_bar || {};(function() {var i,e;i=document.createElement("script"), i.type='text/javascript';i.async=1, i.src="//cdn.introbar.com/js/v1.js", e=document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i,e);})();
        _intro_bar.account_id = '582f0b93ccbe2';
    </script>
    <script src="//fast.wistia.com/embed/medias/5pdqe4teos.jsonp" async></script>
    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

</head>
<body>

<div id="header"></div>

<div id="page-wrapper" class="container">
    <div class="row">
        <div class=" col-md-9 ">
            <div id="tabs-wrapper" class="tab-content">
                <div id="tab-support" class="tab-pane active">
                    <h1>Support</h1>


                    <p>
                        Email: <a href="mailto:support@kuoll.com">support@kuoll.com</a>
                    </p>

                    <p>
                        Skype: <a href="skype:dmitry_kaigorodov">dmitry_kaigorodov</a>
                    </p>

                    <p>
                        Phone: <a href="tel:1551208300">+1 (551) 208-300</a>
                    </p>

                    <p>
                    </p>
                    <p>
                    </p>
                </div>
            </div>
        </div>

        {{>settingsNav}}

    </div>
</div>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>

<!-- Hotjar Tracking Code for kuoll.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:465650,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{{>footer}}

{{>scripts}}

</body>
</html>
