<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Issues dashboard</title>

    {{>inhead}}

    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>
    <link href="/resources/css/issues.css" rel="stylesheet">
    <link href="/resources/css/issues-dashboard.css" rel="stylesheet">
    <style>
        #issues-dashboard {
            min-height: 700px;
        }
        .issuesNumberInGroup {
            font-size: 48px;
            display: block;
            text-align: center;
            line-height: 1;
        }
        .centerText {
            text-align: center;
        }
    </style>

</head>
<body class="supportsKuoll">

<div id="header"></div>

<div id="visual-charts">
</div>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html>