<div class="task" draggable="true" >
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput" checked>
    <input value="Visit Kuoll demo page (done)"
           class="form-control plainInput plainInputDefault">
</div>
<div class="task" draggable="true" >
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput">
    <input value="Mark this task as done" class="form-control plainInput plainInputDefault">
</div>
<div class="task" draggable="true" >
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput">
    <input value="Change description of this task" class="form-control plainInput plainInputDefault">
</div>
<div class="task" draggable="true" >
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput">
    <input value="Drag this task to the top" class="form-control plainInput plainInputDefault">
</div>
<div class="task" draggable="true" >
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput">
    <input value="&quot;Reload the task list&quot; will show you network activity" class="form-control plainInput plainInputDefault">
</div>
<div class="task" draggable="true" >
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput">
    <input value="Click &quot;Report a problem&quot;" class="form-control plainInput plainInputDefault">
</div>
<div class="task" draggable="true" >
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput">
    <input value="Hooray! See your first record"
           class="form-control plainInput plainInputDefault">
</div>
<div class="task " draggable="true" >
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput" style="display: inline-block;">
    <i class="fa fa-lock" title="You can mark some elements as secret, so Kuoll will not record them. Check out documentation for details"> </i>
    <input value="Private content example. $0.50"
           class="form-control plainInput plainInputDefault kuoll-ignore">
</div>

<div class="task" id="invisibleTaskTemplate">
    <span class="dragIcon"><i class="fa fa-bars"></i></span>
    <input type="checkbox" class="checkboxInput">
    <input value="A new task"
           class="form-control plainInput plainInputDefault">
</div>
