<div class="onboard full-height" style="display: none; ">
    <a class="closeFullscreenModal" href="#">
        <i class="fa fa-times-circle fa-3x" style="" aria-hidden="true"></i>
    </a>


    <div class="onboardSignup onboardStep modalLayout" id="onboardSignup">
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-lg-8 col-sm-10 col-xs-12 ">
                        <h1>Sign in to Kuoll</h1>
                        <p class="lead">
                            Get debug-friendly user sessions instead of vague log entries
                        </p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-0 col-lg-4 col-md-5 col-sm-6 col-xs-12  col-equal">
                        <h2>Sign in</h2>
<div id="social-login-disabled-alert" style="display: none"><p> Please, login with your email to accept your invitation. </p></div><div id="social-login" style="text-align: center;"><div class="slack-signin-wrapper"><a class="btn-success btn-block btn btn-lg btn-slack" href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email&client_id=5013105915.44840319781&state=authenticate&redirect_uri=https://api.kuoll.com/slack/redirect_url" ><i class="fa-fw"></i> Sign in with <strong>Slack</strong></a></div><p></p><p>or</p><div class="github-signin-wrapper"><a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=159605dacc8d9ec2594f" class="github-btn btn btn-default btn-block" ><i class="fa fa-github-alt"></i> Sign in with Github </a></div><div class="google-signin-wrapper"><div class="google-signin"><div id="google-signin-btn"></div></div></div></div>                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 col-equal" style="border-left: 1px solid #eee;">
                        <h2>Sign up, old school</h2>
<form id="sign-up-form" role="form" method="post"><div class="form-group" title=""><label for="emailField" class="sr-only">Email</label><input id="emailField" type="email" class="form-control input-lg" placeholder="Email"/></div><div class="form-group"><label for="passwordField" class="sr-only">Password</label><input id="passwordField" type="password" class="form-control input-lg" placeholder="Password"/></div><div class="form-group"><label for="repeatPasswordField" class="sr-only">Repeat Password</label><input id="repeatPasswordField" type="password" class="form-control input-lg" placeholder="Repeat password"/></div><div id="errorMessageBox" class="alert-danger"></div><div class="form-group"><button id="formSubmit" type="submit" class="btn btn-lg btn-default btn-block"><i class="fa fa-rocket"></i> Create account </button></div><div class="form-group" style="text-align: center;"><a href="/reset-password.html" style="color: #95a5a6;">Forgot the password?</a></div></form>                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="onboardInstall onboardStep modalLayout" id="onboardInstall">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-3 col-md-offset-2 col-sm-offset-0 col-lg-6 col-md-8 col-sm-12 ">
                    <h1>Install Kuoll script</h1>

                    <div style="text-align: left; ">
                        <p>
                            <div class="visible-logged-in">
                                You API key is 
                                <code class="api-key"></code>. It is already in the code below. 
                            </div>
                            <div class="hidden-logged-in">
                                To install Kuoll script, please, 
                                <a href="#onboardSignup" class="btn btn-success">sign up</a> 
                                or 
                                <a href="/login.html">log in</a> first. Your API key will be here.
                            </div>

                            Copy the following snippet and 
                            paste it to immediately before the closing <code>&lt;/head></code>  
                            tag on every page of your website. 
                            Alternatively, paste the code before the closing <code>&lt;/body></code> tag.
                        </p>

                        <div>
                            <p>
                                <code class="snippetCdnInstall" id="codeSnippetInstallKuoll">&lt;script>(function (w, k, t){if (!window.Promise){w[k]=w[k]||function(){};return;}w[k] = w[k] || function () {var a = arguments;return new Promise(function (y, n) {(w[k].q = w[k].q || []).push({a: a, d: {y: y, n: n}});});};var s = document.createElement(t),f = document.getElementsByTagName(t)[0];s.async = 1;s.src = 'https://cdn.kuoll.com/bootloader.js';f.parentNode.insertBefore(s, f);}(window, 'kuoll', 'script'));var apiKey = window.kuollApiKey = "<span class="api-key">YOUR_API_KEY</span>";kuoll('startRecord', { API_KEY: apiKey, userId: 1});&lt;/script></code>
                            </p>
                            <p>
                                <button id="copyCodeSnippetInstallKuoll" class="btn copyCodeSnippetInstallKuoll btn-success">
                                    Copy to clipboard
                                </button>
                            </p>
                            <p>
                                <span id="codeSnippetInstallKuollCopiedSuccess" style="display: none; font-size: 22px;">
                                    <strong class="label label-success">Copied!</strong> Now paste the code to the pages of your web app.
                                </span>
                            </p>
                        </div>

                        <h3>Having problems?</h3>
                        <p>
                            <a href="mail-to:support@kuoll.com" >Drop us an email</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="onboardMessenger onboardStep modalLayout" id="onboardMessenger">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-0 col-lg-8 col-md-10 col-sm-12 ">
                    <h1>Connect Slack bot</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-0 col-lg-8 col-md-10 col-sm-12 ">
                    <p>
                        Add Bugbot by Kuoll to your Slack and we will
                        notify you about <strong>new</strong> problems in your web application.
                    </p>

                    <div class="alert alert-info" role="alert">
                        Release your software often and immediately learn
                        if there are any new issues!
                    </div>
                        
                    <p>
                        <a id="slack-link" class="slack-link" target="_blank">
                            <img alt="Add to Slack" height="40" width="139"
                                src="https://platform.slack-edge.com/img/add_to_slack.png"
                                srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/>
                        </a>
                    </p>

                    <p>or</p>

                    <p>
                        Get Kuoll
                        <a href="tg://resolve?domain=KuollBot">
                            <i class="fa fa-telegram"></i>
                            Fixbot for Telegram
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="onboardThanks onboardStep modalLayout" id="onboardThanks">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-lg-6 col-md-8 col-sm-10 ">
                    <h1>Thank you!</h1>
                    <p>
                        You have successfully installed Kuoll script and connect your messenger to your Kuoll acccount.
                        Soon you will be able to see the first error reports on the 
                        <a href="/issues-dashboard.html">dashboard</a>. 
                    </p>
                    <p>
                        You may wish to <a href="/org.html">invite your team<a/> and 
                        update your <a href="/billing.html">billing details</a>.
                    </p>
                </div>
            </div>
        </div>
        <a style="position: fixed; left: 10px; bottom: 64px; height: 64px;" class="crazyCat" href="/">
            <img src="//app.kuoll.com/resources/img/cat.png" style="height: 64px; " class=""
            >
        </a>

        <style>
            .crazyCat {
                transform: rotateY(-180deg) rotate(180deg);
                transition: transform 300ms, opacity 100ms;
                opacity: .2;
            }
            .notCrazyCat {
                transform: rotateY(0) rotate(0);
                opacity: 1;
            }
            // .crazyCat:hover,.crazyCat:active, .crazyCat:focus {
            //     transform: rotateY(0) rotate(0);
            //     opacity: 1;
            // }
        
        </style>
        <script>
            $(function() {
                var notCrazy = false;
                var lastUpdate = Date.now();
                var timeout = null;
                function setCrazy(notCrazyNow) {
                    notCrazy = notCrazyNow;
                    if (timeout) {
                        clearTimeout(timeout);
                    }
                    timeout = setTimeout(function () {
                        if (notCrazy) {
                            $(".crazyCat").addClass("notCrazyCat");
                        } else {
                            $(".crazyCat").removeClass("notCrazyCat");
                        }
                    }, 150);
                }
                $(".crazyCat").mouseenter(function() {
                    setCrazy(true)
                }).mouseleave(function() {
                    setCrazy(false)
                });
            });
        </script>

    </div>


</div>
<link rel="stylesheet" href="//app.kuoll.com/resources/css/onboard.css">
