<div>
    <ul class="nav nav-pills" role="tablist" style="margin-bottom: 15px;">
        <li role="presentation" class="active"><a href="#asyncScript" aria-controls="home" role="tab"
                                                    data-toggle="tab">Using our CDN (recommended)</a></li>
        <li role="presentation" class=""><a href="#npmPackage" aria-controls="home" role="tab"
                                                    data-toggle="tab">Using NPM</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="asyncScript">
            <script src="https://gist.github.com/dkaigorodov/70e80eab2d06a5341ac5c4835f75b24b.js"></script>
        </div>
    
        <div role="tabpanel" class="tab-pane fade" id="npmPackage">
            <ol>
                <li>
                    First, install Kuoll NPM module: <br/>
                    <pre>npm install kuoll</pre>
                </li>
                <li>
                    Then add start record call into your code: <br />

                    <script src="https://gist.github.com/dkaigorodov/977da8bf124c11fa7d162827093bb5d2.js"></script>
                </li>
                <li>
            <ol>
        </div>
    </div>
</div>