<form id="sign-up-form" role="form" method="post">

    <div class="form-group" title="">
        <label for="emailField" class="sr-only">Email</label>
        <input id="emailField" type="email" class="form-control input-lg" placeholder="Email"/>
    </div>

    <div class="form-group">
        <label for="passwordField" class="sr-only">Password</label>
        <input id="passwordField" type="password" class="form-control input-lg" placeholder="Password"/>
    </div>

    <div class="form-group">
        <label for="repeatPasswordField" class="sr-only">Repeat Password</label>
        <input id="repeatPasswordField" type="password" class="form-control input-lg"
            placeholder="Repeat password"/>
    </div>

    <div id="errorMessageBox" class="alert-danger"></div>

    <div class="form-group">
        <button id="formSubmit" type="submit" class="btn btn-lg btn-default btn-block"><i
                class="fa fa-rocket"></i> Create account
        </button>
    </div>

    <div class="form-group" style="text-align: center;">
        <a href="/reset-password.html" style="color: #95a5a6;">Forgot the password?</a>
    </div>
</form>