<div class="bugFixingStages">
    <h2>Kuoll crushes bug fixing costs at all stages</h2>
    <table class="table bugFixingStagesTable">
        <thead>
        <tr>
            <th><i class="fa fa-warning"></i> Bug!</th>
            <th><i class="fa fa-comments-o"></i> Gather info</th>
            <th><i class="fa fa-th-list"></i> Report</th>
            <th><i class="fa fa-repeat"></i> Reproduce</th>
            <th><i class="fa fa-user-md"></i> Analyse</th>
            <th><i class="fa fa-wrench"></i> Fix</th>
            <th><i class="fa fa-check-square-o"></i> Deploy</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active">
            <td colspan="10">
                <div class="title">
                    <i class="fa fa-thumbs-down"></i> The old way
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="actor">Customer</span> reports a problem</td>
            <td><span class="actor">Customer support</span> talks to customer</td>
            <td><span class="actor">Customer support</span> reports the issue</td>
            <td>Developer recreates environment and reproduces the problem</td>
            <td>Developer analyses the issue</td>
            <td>Developer fixes the issue</td>
            <td>DevOps deploys a fix to production</td>
        </tr>
        <tr class="active">
            <td colspan="10">
                <div class="title">
                    <img src="/resources/img/cat.png" style="width: 20px; position: relative; top: -2px;"> The Kuoll way
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="actor">Kuoll script</span> detects
                a problem
            </td>
            <td colspan="2"><span class="actor">Kuoll script</span> captures bug report <strong>
                automatically</strong>
            </td>
            <!-- merged with prev column
                <td><span class="actor">Kuoll script</span> captures <strong>high-fidelity</strong> bug report</td>
            -->
            <td><span class="actor">Kuoll</span> replays captured report in debug mode</td>
            <td><span class="actor">Developer</span> analyses the issue with ease</td>
            <td><span class="actor">Developer</span> fixes the issue with confidence</td>
            <td><span class="actor">DevOps</span> deploys fix to production</td>
        </tr>
        <tr class="active">
            <td colspan="10">
                <div class="title">
                    <i class="fa fa-diamond" style="color: #2ecc71;"></i>
                    Kuoll Value Proposition
                </div>
            </td>
        </tr>
        <tr>
            <td>Finds bugs before your customers do</td>
            <td>Automated capture reduces time spent on customer support by 68%</td>
            <td>High-fidelity capture</td>
            <td>High-fidelity replay</td>
            <td>Confidence in the fix, reduces time spent on iterative fixing by 40%</td>
            <td>Reduces fixing time by 60%</td>
            <td>Bugs fixed, high quality software is direct to market</td>
        </tr>
        </tbody>
    </table>
</div>