<div class="bugFixingStages">
    <h2>Kuoll crushes costs of bug fixing at all stages</h2>
    <table class="table bugFixingStagesTable">
        <thead>
        <tr>
            <th><span><i class="fa fa-warning"></i> Identify</span></th>
            <th><span><i class="fa fa-fire-extinguisher"></i> Prioritize</span></th>
            <th><span><i class="fa fa-repeat"></i> Debug</span></th>
        </tr>
        </thead>
        <tbody>
        <tr class="active">
            <td colspan="5">
                <div class="title">
                    <i class="fa fa-thumbs-down"></i> The old way
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Unhappy customers report a bug
            </td>
            <td>A manager tries to understand the impact of the issues and prioritize them</td>
            <td>Developer recreates environment and tries to reproduce the problem</td>
        </tr>
        <tr class="active">
            <td colspan="5">
                <div class="title">
                    <img src="/resources/img/cat.png" style="width: 20px; position: relative; top: -2px;"> The Kuoll way
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="actor">Kuoll script</span> detects and reports errors</td>
            <td><span class="actor">Kuoll script</span> captures <strong>high-fidelity</strong> bug report</td>
            <td><span class="actor">Kuoll</span> replays captured report in debug mode</td>
        </tr>
        <tr class="active">
            <td colspan="5">
                <div class="title">
                    <i class="fa fa-diamond" style="color: #2ecc71;"></i>
                    Kuoll Value Proposition
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Automated! 100%
            </td>
            <td>Automated! 100%</td>
            <td>
                Recreate environment: 100% automated. 
                Debugging: script execution provided.
                Authenic. Fast. Replayable.
                No need to reproduce. 
            </td>
        </tr>

        <tr class="active">
            <td colspan="5">
                <div class="title">
                    Competitors
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Bugsnag, Sentry, TrackJS, Bugsee, Airbrake, 
            </td>
            <td><span class="actor">None, yet</td>
            <td><span class="actor">None, yet</td>
        </tr>
        <tr class="active">
            <td colspan="5">
                <div class="">
                    No company, other that Kuoll, provides solution which gets bug from where it is happening 
                    and delivers it to developer in an authentic, debuggable and managable way.
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>