<div class="alert alert-info">
    <h3>Ready to record</h3>

    <div style="text-align: center" >

        <p style="width: 267px; text-align: left;display: inline-block;">
            <i class="fa fa-circle"></i> Start recording
        </p>

        <img style="" src="/resources/img/start-recording-kuoll.png">
    </div>
    <p>Create your first Kuoll record on this <a href="/test.html">playground sample
        page</a>.
    </p>
</div>