<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Better bug reports using Kuoll</title>

    {{>inhead}}



</head>
<body>
<div class=" steaky-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="knav-row">
                    <div class="k-logo">
                        <a href="/"><img src="/resources/img/cat.png" style=""> </a>
                    </div>
                    <div class="k-logo-text">
                        <a href="/">Kuoll</a>
                    </div>

                    <div id="k-links" class="k-right">
                        <div class="k-link">
                            <a href="/demo/" title="Kuoll online todo demo">Online demo</a>
                        </div>
                        <div class="k-link">
                            <a href="/quick-start.html" title="Get started">Docs</a>
                        </div>
                        <div class="k-default hide-if-logged-in">
                            <a href="/signup.html" title="Signup for a free account">Free sign up</a>
                        </div>
                        <div class="k-link hide-if-logged-in">
                            <a href="/login.html" title="Meow!">Login</a>
                        </div>
                        <div class="k-default hide-if-not-logged-in hidden-at-start">
                            <a href="/issues-dashboard.html" title="Meow!">Dashboard</a>
                        </div>
                        <div class="k-link hide-if-not-logged-in hidden-at-start" id="logoutBtn">
                            <a href="/logout" title="Meow!">Logout</a>
                        </div>
                    </div>

                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backBlue jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>
                    How It Works
                </h1>

                <p class="lead">Kuoll delivers inspectable user-sessions so you can focus on development.</p>

                <p class=" ">
                    <a href="/quick-start.html" class="btn btn-greenSea btn-lgx ">Get started</a>
                    <span class="spanLgx">
                        <span class="wistia_embed wistia_async_5pdqe4teos popover=true popoverContent=link"
                              style="display:inline"><a href="#" class="watchVideoLink"> or watch video <i
                                class="fa fa-play"></i></a></span>
                    </span>

            </div>
        </div>
    </div>
</div>

<div class="colorStripe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Start getting actionable bug reports from end users
                    <a class="btn btn-whiter pull-right-md" href="/signup.html">Get started</a>
            </div>
        </div>
    </div>
</div>

<div class="explained">
    <div class="container">
        <div class="row">

            <div class="col-md-2 ">
            </div>
            <div class="col-md-2 text-right-md">
                <h2>
                    <i class="fa fa-3x fa-video-camera" aria-hidden="true" style="color: #9b59b6;"></i>
                </h2>

            </div>
            <div class="col-md-4 ">
                <h2>Automated Recording</h2>

                <p class="lead">Kuoll-script records what your client does in your web app.
                    And when a client ask for a support, or when JavaScript <code>Error</code> occurs then
                    Kuoll script persist a record to a server and provides a record link to a developer.
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-3 ">
            </div>
            <div class="col-md-1 text-right-md">
                <h2><i class="fa  fa-rocket fa-3x" style="color: #2ecc71;"></i></h2>
            </div>
            <div class="col-md-4 ">
                <h2>Actionable Reports </h2>

                <p class="lead">
                    Kuoll-record contains all user actions, dynamic changes in web page code, console logs, javascript Errors
                    and network requests. Having Kuoll-record, a developer can inspect and fix a bug event without reproducing it.

            </div>

        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">

            <div class="col-md-3 ">
            </div>
            <div class="col-md-1 text-right-md">
                <h2>
                    <i class="fa fa-3x fa-user-secret" aria-hidden="true" style="color: #7f8c8d;"></i>

                </h2>
            </div>
            <div class="col-md-4 ">
                <h2>User Privacy Respected</h2>

                <p class="lead">
                    Kuoll does not need to have private user data to function correctly.
                    Please mark private data in web page parts of your application
                    and private user data will not leave user web browser.
            </div>

        </div>

    </div>
</div>


<div class="footer darkBg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Product</h3>

                <p><a href="/technology.html">Technology</a>

                <p><a href="/quick-start.html">Get started guide</a>

                <p><a href="https://kuoll.github.io/">Try online demo</a>

                <p><a href="/request-demo.html" style="text-decoration: underline;">Request a demo</a>

                <p><a href="/js-doc/module-kuollAPI.html">JS API reference</a>

            </div>
            <div class="col-md-3">
                <h3>Support</h3>

                <p>Phone: <a href="tel:+375297018389">+375297018389</a></p>

                <p>Skype: <a href="skype:dmitry_kaigorodov">dmitry_kaigorodov</a></p>

                <p>Email: <a href="mailto:dmitry@kuoll.com">dmitry at kuoll.com</a></p>
            </div>
            <div class="col-md-3">
                <h3>For Investors</h3>

                <p><a href="/kuoll-pitch-deck.pdf">Pitch deck</a></p>

                <h3>Follow Us</h3>

                <p>
                    <a target="_blank" class="social" href="https://twitter.com/kuolldev"><i
                            class="fa fa-twitter"> </i></a>
                    &nbsp;
                    <a target="_blank" class="social" href="https://www.youtube.com/watch?v=XIdBN_mQYKc"><i
                            class="fa fa-youtube"> </i></a>&nbsp;
                    <a target="_blank" class="social" href="https://www.linkedin.com/company/kuoll"><i
                            class="fa fa-linkedin"> </i></a>&nbsp;
                    <a target="_blank" class="social" href="https://www.facebook.com/kuollapp"><i
                            class="fa fa-facebook"> </i></a>&nbsp;
                    <a target="_blank" class="social" href="https://plus.google.com/+Kuoll"><i
                            class="fa fa-google-plus"> </i></a>&nbsp;
            </div>

            <div class="col-md-3">
                <h3>Terms of Use</h3>
                <p><a href="/privacy-policy.html">Privacy policy</a>

                <p><a href="/acceptable-use-policy.html">Acceptable use policy</a>

                <p><a href="/terms-of-use.html">Terms of use</a>
            </div>

        </div>
        <div style="clear: both;"></div>
    </div>
</div>


<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>
</body>
</html>