@font-face{font-family:Slack-Lato;font-style:normal;font-weight:300;src:local('☺'),url(//cdx.slack-edge.com/5834/fonts/lato-2-compressed/lato-light.woff2) format('woff2'),url(//cdx.slack-edge.com/d831/fonts/lato-2/lato-light.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:normal;font-weight:400;src:local('☺'),url(//cdx.slack-edge.com/5834/fonts/lato-2-compressed/lato-regular.woff2) format('woff2'),url(//cdx.slack-edge.com/d831/fonts/lato-2/lato-regular.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:normal;font-weight:700;src:local('☺'),url(//cdx.slack-edge.com/5834/fonts/lato-2-compressed/lato-bold.woff2) format('woff2'),url(//cdx.slack-edge.com/d831/fonts/lato-2/lato-bold.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:normal;font-weight:900;src:local('☺'),url(//cdx.slack-edge.com/5834/fonts/lato-2-compressed/lato-black.woff2) format('woff2'),url(//cdx.slack-edge.com/d831/fonts/lato-2/lato-black.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:300;src:local('☺'),url(//cdx.slack-edge.com/7233/fonts/lato-2-compressed/lato-italic-light.woff2) format('woff2'),url(//cdx.slack-edge.com/d831/fonts/lato-2/lato-italic-light.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:400;src:local('☺'),url(//cdx.slack-edge.com/5834/fonts/lato-2-compressed/lato-italic.woff2) format('woff2'),url(//cdx.slack-edge.com/d831/fonts/lato-2/lato-italic.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:700;src:local('☺'),url(//cdx.slack-edge.com/7233/fonts/lato-2-compressed/lato-italic-bold.woff2) format('woff2'),url(//cdx.slack-edge.com/d831/fonts/lato-2/lato-italic-bold.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:900;src:local('☺'),url(//cdx.slack-edge.com/7233/fonts/lato-2-compressed/lato-italic-black.woff2) format('woff2'),url(//cdx.slack-edge.com/d831/fonts/lato-2/lato-italic-black.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF}