<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Kuoll blog</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/resources/img/cat.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/css/flexslider/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/resources/css/velocity/styles.css">
</head>

<body class="blog-page">
<div class="wrapper">

    {{>partials/blog-header}}

    {{#featuredPosts.size}}
    <section class="featured-blog-posts section">

        <div class="flexslider blog-slider">
            <ul class="slides">
            {{#featuredPosts}}
                <li class="slide" style="background-image: url('{{imgUrl}}')">
                    <div class="flex-caption container">
                        <h3 class="title"><a href="/blog/{{id}}">{{title}}</a></h3>
                        <div class="meta">{{date.formatCustom}}</div>
                        <a class="more-link" href="/blog/{{id}}">Read more &rarr;</a>
                    </div><!--//flex-caption-->
                </li>
            {{/featuredPosts}}
            </ul><!--//slides-->
        </div><!--//flexslider-->

    </section><!--//featured-blog-posts-->
    {{/featuredPosts.size}}

    <!-- ******BLOG LIST****** -->
    <div class="blog container">
        <div class="row">
            <div class="add-post-wrapper col-md-2 col-lg-2 col-md-offset-10 col-lg-offset-10" style="display: none">
                <a class="add-post-btn btn btn-cta btn-cta-primary" href="/blog/add">Add post</a>
            </div>
        </div>

        <div class="row">
            <div id="blog-mansonry" class="blog-list">

                {{#posts}}
                <article class="post col-md-4 col-sm-6 col-xs-12">
                    <div class="post-inner">
                        <figure class="post-thumb">
                            <a href="/blog/{{id}}"><img class="img-responsive" src="{{imgUrl}}" alt="" /></a>
                        </figure><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="/blog/{{id}}">{{title}}</a></h3>
                            <div class="post-entry">
                                <p>{{& intro}}</p>
                                <a class="read-more" href="/blog/{{id}}">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                            <div class="meta">
                                <ul class="meta-list list-inline">
                                    <li class="post-time post_date date updated">{{date.formatCustom}}</li>
                                    <li class="post-author"> by <a href="{{authorUrl}}">{{authorName}}</a></li>
                                </ul><!--//meta-list-->
                            </div><!--meta-->
                        </div><!--//content-->
                    </div><!--//post-inner-->
                </article><!--//post-->
                {{/posts}}

            </div><!--//blog-list-->
        </div><!--//row-->
    </div><!--//blog-->
</div><!--//wrapper-->

{{>partials/footer}}

<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
            </div>
            <div class="modal-body">
                <div class="video-container">
                    <iframe src="//player.vimeo.com/video/28872840?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div><!--//video-container-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html> 

