<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Install to Web App</title>

    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="STYLESHEET" href="/resources/css/common.css"/>
    <link type="text/css" rel="STYLESHEET" href="/resources/css/topnav.css"/>
    <link type="text/css" rel="STYLESHEET" href="/resources/css/bottom.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>

    <style>
        .ifNotLogged {
        }

        .ifLogged {
            display: none;
        }

        .customerId, .userId {
            cursor: pointer;
            border-bottom: 2px dotted black;
            padding-bottom: 1px;
        }

        #nav-menu {
            position: fixed;
            top: 108px;
        }

        #nav-menu ul li {
            margin-left: 20px;
        }

        #nav-menu li {
            cursor: pointer;
        }

        .navigated {
            color: #2ecc71;
            background-color: #cfc;

        }

        h2, h3 {
            transition: background-color 0.5s;
        }

        code {
            font-size: 13px;
            line-height: 1.42857143;
            word-break: break-all;
            word-wrap: break-word;
            color: #34495e;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        h2 {
            margin-top: 40px;
            margin-bottom: 20px;
            text-decoration: underline;
        }

        h2, h3 {
            color: #2ecc71;
        }

        h1 {
            color: #16a085
        }

        .btn-greenSea {
            background-color: #1abc9c;
            color: white;
        }

        .btn-greenSea:hover {
            background-color: #16a085;
            color: white;
        }


    </style>
</head>
<body>

{{>topnav}}

<div class="container">
    <div class="row">
        <div class="col-md-12" role="main">

            <h1>Production Configuration</h1>

            <div class="bs-callout bs-callout-warning" id="enable-privacy">
                <h4>Preparing for Production</h4>

                <p>After testing you might consider to get full Kuoll value and record issues your user face in
                    production.
                    Before releasing to production you must configure Kuoll to ignore sensitive and private user data.
                    Kuoll Team highly respects user privacy.
                    Data you marked private will not leave your customer web browser.
                    Configure Kuoll to exclude both private parts of web pages and private URLs from being saved to
                    Kuoll.

                <p>Kuoll does not need any private data to function properly. Mark all private data of your web
                    application.
            </div>



            <h3 id="private-page-parts">Filter out Private Parts of Web Pages </h3>

            <p>
                Kuoll allows you to make certain parts of web page private. Add HTML class <code>kuoll-ignore</code> to
                elements that you want to hide.
            </p>

            <p>
                You can also define custom CSS selectors that will be hidden too.
                Add private web page parts CSS selectors on <a href="/settings.html#tab-excluded-elements">Kuoll private
                web pages parts</a> page.
                <br/>
                When Kuoll saves the web page content then marked part will be excluded and not even leave your customer
                web browser.
                <br/>
                Usual private parts of web pages are passwords, tokens, emails, names, credit card number, security
                codes, money amounts, ets.
            </p>

            <h3 id="private-urls">Filter out Requests to Private URLs</h3>

            <p>To prevent Kuoll from saving private data via <code>XmlHttpRequest</code> set <code>ignoreUrls</code>
                parameter of <code>kuoll.startRecord</code> method.
                <code>ignoreUrls</code> is a list of regexp to match all URLs that should be ignored by Kuoll.
            </p>

            <p>Here is list of data pieces to mark as private:
            <ul>
                <li>passwords
                <li>tokens
                <li>emails
                <li>names
                <li>credit card numbers
                <li>security codes
                <li>money amounts
                <li>other private data
            </ul>


            <h1>Persisting Static Resources</h1>
            <div class="bs-callout bs-callout-info">
                <p>
                    By default, Kuoll doesn't save your static resources (like css files, images, etc.). While playing
                    back your record, we will load resources from your server. So if your web application
                    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS">
                        don't allow other sites to load your resources</a> and you want Kuoll to save static resources
                    then, please, add <code>cdn.kuoll.com</code> to CORS exception list.
                </p>
            </div>

            <h1 id="custom-solutions">Custom Solutions</h1>

            <p>
                Kuoll provides comprehensive solution that can help your web application .
                To build custom solution that fits your needs the best, please, get familiar with Kuoll
                <a href="/js-doc/module-kuollAPI.html">complete JS API documentation</a>.
                <br/>Your are welcome to <a href="/request-demo.html">contact us</a> for API support.
                We are building great product that will serve our customers well.
            </p>

        </div>

        <!--
        <div class="col-md-3" role="complementary">
            <nav id="nav-menu" class="hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">
                    <li><a data-id="recording-on">Turn ON</a>
                    </li>
                    <li><a data-id="create-issue">Create Support Issue</a>
                    </li>
                    <li><a data-id="issues">Support issues</a>
                    </li>
                    <li><a data-id="inspect-record">Inspect Kuoll Record</a>
                    </li>
                    <li><a data-id="enable-privacy">Before Production: Privacy</a>
                        <ul class="nav">
                            <li><a data-id="private-page-parts">Private Web Page Parts</a></li>
                            <li><a data-id="private-urls">Private URLs</a></li>
                        </ul>
                    </li>
                    <li><a data-id="custom-solutions">Custom Solutions</a></li>
                </ul>
            </nav>
        </div>
        -->
    </div>
</div>

{{>footer}}

{{>scripts}}

</body>
</html>