<!DOCTYPE html>
<html>
<head lang="en">
    <title>Contact Information</title>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/topnav.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
</head>
<body style="padding-top: 200px;">

{{>topnav}}

<div class="container">
    <div class="row" style="">

        <h1>Contact Information</h1>

        <p>Republic of Belarus</p>
        <p>Minsk</p>
        <p>ulitsa Slobodskaya</p>
        <p>dom 3, kv. 134</p>
        <p>220116</p>
    </div>
</div>

<div style="padding-top: 100px; ">
    &nbsp;
</div>

{{>footer}}

{{>scripts}}

</body>
</html>