<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ecommerce analytics config :: Kuoll</title>

    {{>inhead}}

    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>

    <link type="text/css" rel="STYLESHEET" href="/resources/css/settings.css"/>
    <link type="text/css" rel="STYLESHEET" href="/resources/css/kuollSupport.css">

    <link type="text/css" rel="STYLESHEET" href="/resources/css/ecommerce-config.css">

</head>
<body class="supportsKuoll">


<div id="header"></div>

<div id="page-wrapper" class="container">
    <div class="row">
        <div class=" col-md-12 ">
            <div id="ecommerce-config" class="tab-pane active">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html>