<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fix hardest bugs easily with Kuoll</title>
    
{{>inhead}}
    <link rel="stylesheet" href="/resources/css/landing.css">


</head>
<body>

{{>topnav}}

<div class="backBlue jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>
                    How It Works
                </h1>

                <p class="lead">Kuoll delivers inspectable user-sessions so you can focus on development.</p>

                <p class=" ">
                    <a href="/quick-start.html" class="btn btn-greenSea btn-lgx ">Get started</a>
                    <span class="spanLgx">
                        <span class="wistia_embed wistia_async_5pdqe4teos popover=true popoverContent=link"
                              style="display:inline"><a href="#" class="watchVideoLink"> or watch video <i
                                class="fa fa-play"></i></a></span>
                    </span>

            </div>
        </div>
    </div>
</div>

<div class="colorStripe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Start getting actionable bug reports from end users
                    <a class="btn btn-whiter pull-right-md" href="/signup.html">Get started</a>
            </div>
        </div>
    </div>
</div>

<div class="explained">
    <div class="container">
        <div class="row">

            <div class="col-md-2 ">
            </div>
            <div class="col-md-2 text-right-md">
                <h2>
                    <i class="fa fa-3x fa-video-camera" aria-hidden="true" style="color: #9b59b6;"></i>
                </h2>

            </div>
            <div class="col-md-4 ">
                <h2>Automated Recording</h2>

                <p class="lead">Kuoll-script records what your client does in your web app.
                    And when a client ask for a support, or when JavaScript <code>Error</code> occurs then
                    Kuoll script persist a record to a server and provides a record link to a developer.
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-3 ">
            </div>
            <div class="col-md-1 text-right-md">
                <h2><i class="fa  fa-rocket fa-3x" style="color: #2ecc71;"></i></h2>
            </div>
            <div class="col-md-4 ">
                <h2>Actionable Reports </h2>

                <p class="lead">
                    Kuoll-record contains all user actions, dynamic changes in web page code, console logs, javascript Errors
                    and network requests. Having Kuoll-record, a developer can inspect and fix a bug event without reproducing it.

            </div>

        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">

            <div class="col-md-3 ">
            </div>
            <div class="col-md-1 text-right-md">
                <h2>
                    <i class="fa fa-3x fa-user-secret" aria-hidden="true" style="color: #7f8c8d;"></i>

                </h2>
            </div>
            <div class="col-md-4 ">
                <h2>User Privacy Respected</h2>

                <p class="lead">
                    Kuoll does not need to have private user data to function correctly.
                    Please mark private data in web page parts of your application
                    and private user data will not leave user web browser.
            </div>

        </div>

    </div>
</div>

{{>footer}}

{{>scripts}}

</body>
</html>