<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Error analytics platform for E-Commerce</title>
    <meta name="description" content="Error analytics platform for E-Commerce"/>
    <meta name="keywords"
          content="conversion monitoring, automated bug reporting, error analytics, e-commerce, magento errors"/>

{{>inhead}}

    <link rel="stylesheet" href="/resources/css/landing.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

    <link rel="canonical" href="https://www.kuoll.com/">

</head>

{{>topnav}}
        
<div class="container">

    <div class="jumbotron">
        <h1>Conversion Monitoring & Empirical Optimization</h1>       
    </div>

    <img src="resources/img/screenshots/dashboard2.png" class="img-responsive">

    <h3>The Sales Metric You're Ignoring</h3>
    <p class="small">Software bugs—no matter how big or small—are hurting your conversions. Some users may report them, but more often than not they’ll either refresh the page or abandon their cart and go to your competitors.</p>
    <p class="small">At best you’re left with an unknown bug that’s affecting site performance. At worst you’ve lost a customer.</p>
    <h3>Intelligent Optimization: Empirical Data & Immediate Growth</h3>
    <p class="small">Testing site layout, button colors, and sales copy is an arduous and expensive experiment with no guaranteed return for your efforts. It’s a highly nuanced game of zero percent returns.</p>
    <p class = "small">Kuoll will carve a path to immediate growth because it identifies real bottlenecks in your sales funnel that you can turn into actionable steps.</p>
    <p class = "small">From the comfort of your own dashboard, you'll monitor how conversion rates rise and fall from day to day based on the quantity and types of errors found on your site, equipping you with real, empirical sales data to help you decide which bugs must be squished now.</p>

    <h2>Free Trial</h2>
    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <input id="emailField" type="email" placeholder="Email" class="form-control">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
            <input id="passwordField" type="password" placeholder="Password" class="form-control">
        </div>
        </div>
    </div>
    <div class="form-group">
        <input id="repeatPasswordField" type="password" placeholder="Repeat password" class="form-control">
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">  
        <button id="formSubmit" type="submit" class="btn btn-primary">Get started</button>
    </div>
{{>footer}}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/resources/libs/morphext/morphext.js"></script>
<script>
$(function() {
    $("#js-rotating").Morphext({
        // The [in] animation type. Refer to Animate.css for a list of available animations.
        animation: "fadeInDown",
        // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
        separator: ",",
        // The delay between the changing of each phrase in milliseconds.
        speed: 4000,
        complete: function () {
            // Called after the entrance animation is executed.
        }
    });
})
</script>

</html>