<!DOCTYPE html>
<html>
<head>
    <title>Welcome back to Kuoll &ndash; Log in</title>
    <script>
        if (document.location.host !== "localhost:9000" &&
            document.location.host !== "local.kuoll.com:9000" &&
            window.location.protocol !== "https:") {
                window.location.protocol = "https";
        }
    </script>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="canonical" href="https://app.kuoll.com/login.html">
    <style>

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 99px;                                                                    
        }

        footer {
            position: absolute;
            height: 60px;
            padding-left: 1em;
            padding-right: 1em;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body style="">

<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
            <h1>Welcome back!</h1>

            <p class="lead visible-logged-in">
                <a href="#onboardMessenger">Install Kuoll Repairbot</a> to stay in touch with your production status
            </p>

            <div class="already-signed-in-wrapper"></div>

        </div>
    </div>
    <div class="row hidden-logged-in">
        <div class="col-lg-2 col-md-1 col-sm-0">
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <h2>Sign in</h2>
            {{>social-login}}
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6" style="border-left: 1px solid #eee;">

            <form id="sign-in-form" role="form" method="post">

                <h2>Sign in with email</h2>
                <div class="form-group" title="">
                    <p>
                        <label for="emailField" class="sr-only">Email</label>
                        <input id="emailField" type="email" placeholder="Email" title="Email" class="form-control"/>
                    </p>
                    <div id="suggestSignupBox"  class="alert alert-info" role="alert"
                        style="padding: 10px 12px; border-radius: 5px; margin-bottom: 5px; display: none;"></div>
                </div>

                <div class="form-group" title="">
                    <p>
                        <label for="passwordField" class="sr-only">Password</label>
                        <input id="passwordField" type="password" placeholder="Password" title="Password" class="form-control"/>
                    </p>
                    <div id="errorMessageBox"  class="alert alert-warning" role="alert"
                        style="padding: 10px 12px; border-radius: 5px; margin-bottom: 5px; display: none;"></div>

                </div>

                <div class="form-group">
                    <button id="formSubmit" type="submit" class="btn btn-lg btn-default btn-block">Get in there!</button>
                </div>
                <div class="form-group" style="text-align: center; margin: 60px 0 30px;">
                    <p>
                        <a href="/reset-password.html" style="color: #bdc3c7;">Forgot your password?</a>
                    </p>
                </div>

            </form>

            <p> </p>

            <p style="text-align: center;" >
                Don&rsquo;t have an account?
                <a href="/signup.html" class="btn btn-success">Sign up now!</a>
            </p>

        </div>
    </div>
</div>

<p> </p>

<p> </p>

<p> </p>

<p> </p>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 center-block">
                <p style="text-align: center;" >
                    Don&rsquo;t have an account?
                    <a href="/signup.html" class="btn btn-success">Sign up now!</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" data-main="resources/js/init" src="/lib/js/requirejs/require.js"></script>

</body>
</html>