<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    
    <title>Kuoll Pricing</title>
    <link rel="canonical" href="https://www.kuoll.com/pricing.html">

    {{>inhead}}

    <link rel="stylesheet" href="/resources/css/landing.css">

</head>
<body class="">

{{>topnav}}

<main class="pageScrollOverflowY">

<div class="container">

    <div class="jumbotron">     
        <h1>Pricing</h1>
        <h2>No credit card required. Premium plan includes a 14-day free trial.</h2>
    </div>

    <div class="row pricing">
    
        <div class="col-md-6">
            <div class="well">
                <h3>Standard</h3>
                <hr>
                <p class="price">$99/Month</p>
                <hr>
                <a href="https://app.kuoll.com/signup.html?plan=team_month" class="btn btn-default btn-block">Get Started</a>
                <hr>
                <p>Up to 200,000 Visitors/month</p>
                <hr>
                <p>30 days Data Retention</p>
                <hr>
                <p>Email Support</p>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="well">
                <h3>Premium</h3>
                <hr>
                <p class="price">Custom Pricing</p>
                <hr>
                <a href="mailto: corp@kuoll.com" class="btn btn-default btn-block">Contact Us</a>
                <hr>
                <p>Millions of Visitors per Month</p>
                <hr>
                <p>Custom Data Retention</p>
                <hr>
                <p>On-Site Support</p>
                <hr>
                <p>Invoice Billing</p>
                <hr>
                <p>Custom Terms</p>
            </div>
        </div>
    

        <p class="questions">Still have questions? Email us: <a class="text-color" href="mailto: sales@kuoll.com">sales@kuoll.com</a> or call at <a class="text-color" href="tel:551-208-300">551-208-300</a>.</p>
    </div>
</div>

<style>
@import "/resources/css/pricing.css";
</style>

{{>footer}}

</body>
</html>