<!DOCTYPE html>
<html>
<head lang="en">
    <title>Contact Information</title>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/topnav.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
</head>
<body style="padding-top: 200px;">

{{>topnav}}

<div class="container">
    <div class="row" style="">

        <h1>Thank You for Your Purchase!</h1>

        <p>

        </p>




    </div>
</div>

<div style="padding-top: 100px; ">
    &nbsp;
</div>

{{>footer}}

<script src="https://www.2checkout.com/static/checkout/javascript/direct.min.js"></script>

{{>scripts}}

</body>
</html>