<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
    {{>inhead}}
    <link href="/resources/css/issues.css" rel="stylesheet">
    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>
    <style>
        #issuesContainer {
            min-height: 700px;
        }
    </style>

</head>
<body class="supportsKuoll">

<div id="header"></div>

<div id="issuesContainer"></div>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>


</body>
</html>