<!DOCTYPE html>
<html>
<head lang="en">
    <title>Welcome to Kuoll &ndash; Reset forgotten password</title>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/topnav.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
    <link rel="canonical" href="https://app.kuoll.com/reset-password.html">
</head>
<body style="padding-top: 200px;">

{{>topnav}}

<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-sm-10 col-md-6 col-lg-4 center-block" style="float: none;">

            <form id="resetForm" role="form" action="#" method="post"
                style="">
                <h1 style="">Reset Your Password</h1>

                <div id="errorMessageBox" class="alert-danger"
                    style="padding: 2px 8px; font-size: 11pt; border-radius: 5px; margin-bottom: 5px; visibility: collapse;"></div>
                <div id="infoMessageBox" class="alert-success"
                    style="padding: 2px 8px; font-size: 11pt; border-radius: 5px; margin-bottom: 5px; visibility: collapse;"></div>

                <div class="form-group" title="">
                    <label for="emailField" class="sr-only">Email</label>
                    <input id="emailField" type="email" placeholder="Enter account email" class="form-control"/>
                </div>

                <div class="form-group">
                    <button id="formSubmit" type="submit" class="btn btn-primary btn-block">Reset password</button>
                </div>

            </form>

            <p> &nbsp; </p>

            <p>
                Don&rsquo;t have an account?
                <a href="/signup.html" class="btn btn-success">Sign up now!</a>
            </p>

            <p>
                Return to <a href="/login.html">login page</a>.
            </p>

        </div>

    </div>
</div>

<div style="padding-top: 60px; ">
    &nbsp;
</div>

{{>footer}}

{{>scripts}}

</body>
</html>