<!DOCTYPE html>
<html>
<head>
    <title>Get Kuoll &ndash; Sign in</title>
    <script>
        if (document.location.host !== "localhost:9000" &&
            document.location.host !== "local.kuoll.com:9000" &&
            window.location.protocol !== "https:") {
                window.location.protocol = "https";
        }
    </script>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="STYLESHEET" href="/resources/css/jquery.qtip.css"/>
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="canonical" href="https://app.kuoll.com/signup.html">

    <link rel="shortcut icon apple-itouch-icon" href="/resources/img/cat.png">

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 99px;                                                                    
        }

        footer {
            position: absolute;
            height: 60px;
            padding-left: 1em;
            padding-right: 1em;
            bottom: 0;
            width: 100%;
        }

        #errorMessageBox {
            padding: 8px 18px;
            border-radius: 5px;
            margin-bottom: 5px;
            visibility: collapse;
            border: 1px solid #c0392b;
            color: #eee;
            font-size: 13pt;
            background-color: #e74c3c;
        }

        #social-login-disabled-alert {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="row" id="formContainer">
        <div class="col-md-1" >
        </div>
        <div class="col-md-10" id="formContainer" style="text-align: center;">
            <h1 id="formHeader">Sign in</h1>
            <p class="lead hidden-logged-in">
                Sign in to Kuoll and get your error analytics API key
            </p>
            <p class="lead visible-logged-in">
                <a href="#onboardMessenger">Install Kuoll Repairbot bot</a> to stay in touch with your production status
            </p>

            <div class="already-signed-in-wrapper"></div>
        </div>
    </div>
    <div class="row hidden-logged-in">
        <div class="col-lg-2 col-md-1 col-sm-0">
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <h2>Sign in</h2>
            {{>social-login}}
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6" style="border-left: 1px solid #eee;">
            <h2>Sign up, old school</h2>
            {{>signupOldschool}}
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-1 col-sm-0">
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="" style="color: #95a5a6; text-align: center;">
                    Have an account?
                    <a href="/login.html">Log in</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>

</body>
</html>