<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bugbot shows what a user did when a bug happened</title>
    <meta rel="canonical" href="https://www.kuoll.com/slack.html?ref=producthunt" />
    <meta name="description" content="Bug reporting automation for better customer support and software development"/>
    <meta name="keywords"
          content="automated bug capturing, automated bug reporting, business web application, business software bugs, saas software costs"/>
   
    {{>inhead}}
    <link rel="stylesheet" href="/resources/css/landing.css">
    <link rel="canonical" href="https://www.kuoll.com/slack.html">



    <script>
        var _intro_bar = window._intro_bar || {};(function() {var i,e;i=document.createElement("script"), i.type='text/javascript';i.async=1, i.src="//cdn.introbar.com/js/v1.js", e=document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i,e);})();
        _intro_bar.account_id = '582f0b93ccbe2';
    </script>
    <script src="//fast.wistia.com/embed/medias/5pdqe4teos.jsonp" async></script>
    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

</head>
<body style="padding-top: 0;">

{{>topnav}}

<div class="backBlue jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                  Slack bot which shows <br />
                  what user did <br />
                  before a bug happened
                </h1>

                <p class="lead">
                  Find and fix bugs 72% faster
                </p>

                <p class=" ">
                    <a href="/signup.html" class="btn btn-greenSea btn-lgx ">Sign up</a>

                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1>Why install?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h2>Smart bug notifications</h2>
                <p>
                    Bug bot will send you a new JavaScript Error notifications only 
                    when there is a new JavaScript error.
                    And immediately after release you will get notifications about 
                    new bugs in the web application.
                </p>
                <p>
                    Also, Kuoll detects situations when http xhr response returns error code (400+).
                </p>

            </div>
            <div class="col-sm-6 ">

                <p>
                    <img src="/resources/img/screenshots/bugbot-by-kuoll-slack-message.png"
                        class="img-responsive screenshot"
                    >
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-offset-2">
                <h2>
                    Replay and rerun buggy user sessions
                </h2>
                <p>
                    For each Slack notification Bugbot shows not only Error description, OS, Browser, page url; 
                    but also gives a link to a recorded user session.
                </p>
                <p>
                    The record shows you what user did before and when the bug happened.
                </p>
                <p>
                    Also, the record shows the network requests and JavaScript system API calls; 
                    e.g. <code>Promise</code>, <code>setTimeout</code>, <code>setInterval</code>. 
                    The user actions, system API calls, network requests and DOM mutations are 
                    linked together into highlightable cause-event chains.
                </p>
                <p>
                    Find the root cause of the most complicated bugs much faster then ever before!
                </p>

                <p>
                    <script src="https://fast.wistia.com/embed/medias/21owcwity4.jsonp" async></script>
                    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                    <span class="wistia_embed wistia_async_21owcwity4 popover=true popoverContent=link" style="display:inline">
                        <a href="#">
                            Watch demo video 
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </span>

                </p>

            </div>
            <div class="col-sm-6 ">

                <p>
                    <img src="/resources/img/screenshots/kuoll-record-sample.png"
                        class="img-responsive screenshot"
                    >
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <h1>How to install</h1>

                <h3>Create account and get your APIKEY</h3>

                <a href="/signup.html" class="">Create account</a> to get your APIKEY.

                <h3>Install Kuoll script under 3 minutes</h3>

                <p>
                    Install Kuoll JavaScript snippet to your web application under 3 minutes. 
                    Just copy and paste the code below into pages of your web app.
                </p>

                <div id="installKuollSnippetContainer">
<pre style='color:#000000;background:#ffffff;'><span style='color:#808030; '>!</span><span style='color:#800000; font-weight:bold; '>function</span><span style='color:#808030; '>(</span>a<span style='color:#808030; '>,</span>b<span style='color:#808030; '>,</span>c<span style='color:#808030; '>)</span><span style='color:#800080; '>{</span><span style='color:#800000; font-weight:bold; '>if</span><span style='color:#808030; '>(</span><span style='color:#808030; '>!</span>window<span style='color:#808030; '>.</span>Promise<span style='color:#808030; '>)</span><span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#800000; font-weight:bold; '>void</span><span style='color:#808030; '>(</span>a<span style='color:#808030; '>[</span>b<span style='color:#808030; '>]</span><span style='color:#808030; '>=</span>a<span style='color:#808030; '>[</span>b<span style='color:#808030; '>]</span><span style='color:#808030; '>||</span><span style='color:#800000; font-weight:bold; '>function</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>{</span><span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>a<span style='color:#808030; '>[</span>b<span style='color:#808030; '>]</span><span style='color:#808030; '>=</span>a<span style='color:#808030; '>[</span>b<span style='color:#808030; '>]</span><span style='color:#808030; '>||</span><span style='color:#800000; font-weight:bold; '>function</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>{</span><span style='color:#800000; font-weight:bold; '>var</span> c<span style='color:#808030; '>=</span><span style='color:#797997; '>arguments</span><span style='color:#800080; '>;</span><span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#800000; font-weight:bold; '>new</span> Promise<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>function</span><span style='color:#808030; '>(</span>d<span style='color:#808030; '>,</span>e<span style='color:#808030; '>)</span><span style='color:#800080; '>{</span><span style='color:#808030; '>(</span>a<span style='color:#808030; '>[</span>b<span style='color:#808030; '>]</span><span style='color:#808030; '>.</span>q<span style='color:#808030; '>=</span>a<span style='color:#808030; '>[</span>b<span style='color:#808030; '>]</span><span style='color:#808030; '>.</span>q<span style='color:#808030; '>||</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>push<span style='color:#808030; '>(</span><span style='color:#800080; '>{</span>a<span style='color:#800080; '>:</span>c<span style='color:#808030; '>,</span>d<span style='color:#800080; '>:</span><span style='color:#800080; '>{</span>y<span style='color:#800080; '>:</span>d<span style='color:#808030; '>,</span>n<span style='color:#800080; '>:</span>e<span style='color:#800080; '>}</span><span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>}</span><span style='color:#800080; '>;</span><span style='color:#800000; font-weight:bold; '>var</span> d<span style='color:#808030; '>=</span>document<span style='color:#808030; '>.</span>createElement<span style='color:#808030; '>(</span>c<span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>e<span style='color:#808030; '>=</span>document<span style='color:#808030; '>.</span>getElementsByTagName<span style='color:#808030; '>(</span>c<span style='color:#808030; '>)</span><span style='color:#808030; '>[</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>]</span><span style='color:#800080; '>;</span>d<span style='color:#808030; '>.</span>async<span style='color:#808030; '>=</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>,</span>d<span style='color:#808030; '>.</span>src<span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>https://cdn.kuoll.com/bootloader.js</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>e<span style='color:#808030; '>.</span>parentNode<span style='color:#808030; '>.</span>insertBefore<span style='color:#808030; '>(</span>d<span style='color:#808030; '>,</span>e<span style='color:#808030; '>)</span><span style='color:#800080; '>}</span><span style='color:#808030; '>(</span>window<span style='color:#808030; '>,</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>kuoll</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>script</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

kuoll<span style='color:#808030; '>(</span><span style='color:#800000; '>'</span><span style='color:#0000e6; '>startRecord</span><span style='color:#800000; '>'</span><span style='color:#808030; '>,</span> <span style='color:#800080; '>{</span> 
 API_KEY<span style='color:#800080; '>:</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>YOUR_API_KEY</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
 userId<span style='color:#800080; '>:</span> <span style='color:#008c00; '>1</span><span style='color:#808030; '>,</span>
 userEmail<span style='color:#800080; '>:</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>test@kuoll.com</span><span style='color:#800000; '>"</span>
<span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
                <p>
                    <button id="installKuollSnippetButton" class="btn btn-success" >
                        Copy to clipboard
                    </button>
                </p>

                </div>


                <h3>Add Bugbot by Kuoll to your Slack</h3>

                <p>
                    We recommend you to create separate #Kuoll channel for the Bugbot.
                    This way, your team member will be able to access new bug reports. 
                </p>

                <p>
                    When you have a Kuoll account, go to the 
                        <a href="/settings.html">Settings</a> page and click
                        &ldquo;Add to Slack&rdquo; button
                    <img class="screenshot" 
                        src="/resources/img/screenshots/slack-integration-settings.png">

                </p>

                <h3>Add user id and user email to Kuoll API calls and see user-specific records</h4>
                <p>
                    Set <code>userId</code> and <code>userEmail</code> parameters of
                    <code>kuoll("startRecord", params);</code> call.
                </p>
                <p>

                </p>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3  text-center">
            <p class=" " style="margin: 20px 0 30px;">
                <a href="/signup.html" class="btn btn-greenSea btn-lgx btn-block">
                    Sign up for a free trial <br/>
                    <small style="font-size: 20px;">No credit card required</small>
                </a>
        </div>
    </div>
</div>

<script type="text/javascript" data-main="/resources/js/init" src="/lib/js/requirejs/require.js"></script>
<script>
(function() {
  'use strict';
  document.getElementById("installKuollSnippetButton").addEventListener('click', copy, true);
  function copy(e) {
    var
      t = e.target,
      inp = document.querySelector("installKuollSnippetContent");
    if (inp && inp.select) {
      inp.select();

      try {
        // copy text
        document.execCommand('copy');
        inp.blur();
      }
      catch (err) {
        alert('please press Ctrl/Cmd+C to copy');
      }
    }
  }

})();
</script>

{{>footer}}

{{>scripts}}


</body>
</html>
